@font-face {
    font-family: 'siyuanxi';
    src: url(fonts/products/spark/siyuanxi/webfont-7e2f2a5b6c0e9432b9c73daf9ab88415.eot);
    src: url(fonts/products/spark/siyuanxi/webfont-7e2f2a5b6c0e9432b9c73daf9ab88415.eot?#iefix) format('embedded-opentype'), url(fonts/products/spark/siyuanxi/webfont-3b518de496d09ffa0f496a1c49ba74e8.woff) format('woff'), url(fonts/products/spark/siyuanxi/webfont-0df777c2ac5109477425432c5d35634f.ttf) format('truetype'), url(fonts/products/spark/siyuanxi/webfont-16cc4ce2a27be0b8f5cf268a95b6dc8a.svg#webfont) format('svg')
}

.dji-zh-CN section.spark-banner .banner-slogan {
    letter-spacing: 8px;
    font-family: 'Open Sans', 'siyuanxi'
}

.dji-zh-CN section.spark-banner .banner-content {
    font-family: 'Open Sans', 'siyuanxi';
    text-align-last: center;
    text-align: left
}

section.spark-banner {
    height: 1284px;
    overflow: hidden;
    background: #000
}

@media (max-width:1920px) {
    section.spark-banner {
        height: 924px
    }
}

@media (max-width:1440px) {
    section.spark-banner {
        height: 744px
    }
}

section.spark-banner .banner-bg {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000
}

section.spark-banner .banner-bg .product {
    position: absolute;
    width: 582px;
    height: 413px;
    top: 50%;
    right: 10%
}

@media (max-width:1920px) {
    section.spark-banner .banner-bg .product {
        width: 451px;
        height: 320px;
        top: 50%;
        right: 10%
    }
}

@media (max-width:1440px) {
    section.spark-banner .banner-bg .product {
        height: 278px;
        width: 300px;
        top: 50%;
        right: 8%
    }
}

section.spark-banner .container {
    padding-top: 666px;
    text-align: center;
    color: #fff
}

@media (max-width:1920px) {
    section.spark-banner .container {
        padding-top: 462px
    }
}

@media (max-width:1440px) {
    section.spark-banner .container {
        padding-top: 360px;
        -webkit-transform: scale(.8);
        -moz-transform: scale(.8);
        -ms-transform: scale(.8);
        -o-transform: scale(.8);
        transform: scale(.8)
    }
}

section.spark-banner .banner-logo {
    font-size: 80px
}

section.spark-banner .banner-slogan {
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 59px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif
}

section.spark-banner .banner-content {
    max-width: 520px;
    margin: 0 auto 20px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    text-align: center
}

section.spark-banner .banner-tip {
    font-size: 12px;
    color: #fff;
    line-height: 18px;
    margin-bottom: 40px
}

section.spark-banner .video-link {
    font-size: 16px;
    text-transform: uppercase
}

section.spark-banner .video-link .fa-play {
    margin-left: 8px
}

section.spark-banner .main-video {
    margin: 20px 0
}

section.spark-banner .main-video a {
    display: inline-block;
    width: 70px;
    height: 70px;
    color: #fff;
    font-size: 26px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    line-height: 64px;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

section.spark-banner .main-video .fa-play {
    margin-right: -5px
}

section.spark-banner .main-video p {
    margin-top: 20px;
    font-size: 16px
}