section,
section .swiper-mould {
    position: relative;
    overflow: hidden
}

section {
    background-repeat: no-repeat;
    z-index: 1
}

section h2.common-title {
    text-transform: uppercase
}

section figure {
    margin-left: auto;
    margin-right: auto;
    background-position: center center;
    background-size: cover
}

section .swiper-slide {
    position: relative;
    z-index: 10
}

section .swiper-slide.swiper-slide-active {
    z-index: 20
}

section .swiper-mould {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    text-align: center
}

section .control-box {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    left: 50%;
    margin-left: -575px;
    width: 1150px;
    height: 50px;
    z-index: 1
}

section .control-box .swiper-btn-next,
section .control-box .swiper-btn-prev {
    position: absolute;
    background-size: cover;
    top: 0;
    width: 15px;
    height: 50px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    opacity: .8;
    background-image: url('images/products/left-84e7555bdcb4cabce9eb0c8597d2bf92.png');
}

section .control-box .swiper-btn-next:hover,
section .control-box .swiper-btn-prev:hover {
    opacity: 1;
    background-image: url('images/products/left-hover-dc378016e56315b9b08cc537ef6a8a1c.png');
}

section .control-box .swiper-btn-prev {
    left: 0
}

section .control-box .swiper-btn-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

#dji-product-common section p.common-content {
    margin-bottom: 0!important
}

.drag-active {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: move
}

.drag-active .pano-control,
.drag-active .pano-cover {
    cursor: move
}

section.dji-goggles-banner {
    background-color: #000
}

section.dji-goggles-banner .section-bg {
    padding-top: 260px;
    width: 100%;
    height: 800px;
    background-position: center center;
    background-size: cover
}

section.dji-goggles-banner .text,
section.dji-goggles-pano .section-abstract .container .text {
    color: #fff
}

section.dji-goggles-banner .text .title {
    margin-bottom: 20px;
    font-size: 38px;
    text-transform: uppercase
}

section.dji-goggles-banner .text .slogan {
    margin-bottom: 75px;
    font-size: 22px;
    font-weight: 300;
    line-height: 28px;
    text-transform: uppercase
}

section.dji-goggles-banner .video-box figure {
    width: 320px;
    height: 180px;
    display: inline-block;
    background-size: cover
}

section.dji-goggles-banner p.sp {
    width: 320px;
    margin-top: 10px;
    text-align: center;
    color: #fff
}

section.dji-goggles-s1 .section-bg {
    min-height: 600px;
    padding-top: 60px;
    background-position: center center;
    background-size: cover;
    padding-bottom: 40px;
    text-align: center
}

section.dji-goggles-s1 .product {
    width: 708px
}

section.dji-goggles-s1 .text {
    margin-top: 80px;
    text-align: center
}

section.dji-goggles-s1 ul.feature-list {
    margin-top: 35px
}

section.dji-goggles-s1 ul.feature-list li {
    display: inline-block;
    width: 155px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    vertical-align: top
}

section.dji-goggles-s1 ul.feature-list span.feature-icon {
    display: block;
    width: 62px;
    height: 53px;
    margin: 0 auto 5px;
    background-size: cover;
    background-position: center center
}

section.dji-goggles-pano {
    position: relative
}

section.dji-goggles-pano .section-abstract .product {
    width: 60px;
    position: absolute;
    bottom: 210px;
    left: 50%;
    margin-left: -30px;
    z-index: 10
}

section.dji-goggles-pano .section-abstract .pano-box {
    height: 800px;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    cursor: move
}

section.dji-goggles-pano .section-abstract .pano-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

section.dji-goggles-pano .section-abstract .pano-content {
    position: relative;
    height: 800px;
    z-index: 1
}

section.dji-goggles-pano .section-abstract .container {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    bottom: 40px;
    z-index: 3;
    text-align: center
}

section.dji-goggles-pano .section-abstract .pano-control {
    position: relative;
    width: 140px;
    height: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-size: cover;
    background-position: center center;
    z-index: 3
}

section.dji-goggles-pano .section-abstract .pano-control:hover {
    cursor: move
}

section.dji-goggles-pano .section-abstract .pano-control-list {
    position: relative;
    width: 100%;
    height: 100%
}

section.dji-goggles-pano .section-abstract .pano-control-list a {
    position: absolute;
    font-size: 24px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    opacity: .5
}

section.dji-goggles-pano .section-abstract .pano-control-list a:hover {
    opacity: .75
}

section.dji-goggles-pano .section-abstract .pano-control-list a.disabled {
    opacity: .35;
    color: #ccc
}

section.dji-goggles-pano .section-abstract .pano-control-list .control-up {
    top: -42px;
    left: 50%;
    margin-left: -17px
}

section.dji-goggles-pano .section-abstract .pano-control-list .control-down {
    bottom: -32px;
    left: 50%;
    margin-left: -17px
}

section.dji-goggles-pano .section-abstract .pano-control-list .control-left {
    left: -30px;
    top: 50%;
    margin-top: -27px
}

section.dji-goggles-pano .section-abstract .pano-control-list .control-right {
    right: -30px;
    top: 50%;
    margin-top: -27px
}

section.dji-goggles-s3 {
    position: relative;
    height: 800px;
    background-color: #f7f8f9
}

section.dji-goggles-s3 #swiper-container1 {
    height: 800px;
    width: 100%;
    margin: 0 auto
}

section.dji-goggles-s3 #swiper-container1.active-slide-1 .swiper-btn-prev,
section.dji-goggles-s3 #swiper-container1.active-slide-3 .swiper-btn-next {
    cursor: default;
    background-image: url(images/products/left-84e7555bdcb4cabce9eb0c8597d2bf92.png);
    opacity: .8
}

section.dji-goggles-s3 #swiper-container1 .control-box {
    width: 100%;
    left: 0;
    margin-left: 0
}

section.dji-goggles-s3 #swiper-container1 .control-box .swiper-btn-prev {
    margin-left: 25px
}

section.dji-goggles-s3 #swiper-container1 .control-box .swiper-btn-next {
    margin-right: 25px
}

section.dji-goggles-s3 .swiper-wrapper .text {
    position: absolute;
    bottom: 90px;
    width: 100%;
    left: 0;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    z-index: 30;
    text-align: center;
    opacity: 0
}

section.dji-goggles-s3 .swiper-wrapper .played .text {
    opacity: 1
}

section.dji-goggles-s3 .swiper-slide {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background-color: #f7f8f9;
    opacity: 0
}

section.dji-goggles-s3 .swiper-slide .container {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100%;
    z-index: 3
}

section.dji-goggles-s3 .swiper-slide-1 {
    background-color: #f7f8f9
}

section.dji-goggles-s3 .swiper-slide-1.played canvas {
    opacity: 0
}

section.dji-goggles-s3 .swiper-slide-1 .container {
    z-index: 30
}

section.dji-goggles-s3 .swiper-slide-1 .text {
    color: #fff;
    -webkit-transition: all .8s ease 1.8s;
    -moz-transition: all .8s ease 1.8s;
    -ms-transition: all .8s ease 1.8s;
    -o-transition: all .8s ease 1.8s;
    transition: all .8s ease 1.8s;
    opacity: 1
}

section.dji-goggles-s3 .swiper-slide-1 .swiper-bg {
    width: 2560px;
    height: 800px;
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 50%;
    margin-left: -1280px;
    display: block;
    opacity: 1;
    z-index: 10
}

section.dji-goggles-s3 .swiper-slide-1 .canvas-wrap {
    display: inline-block;
    position: relative
}

section.dji-goggles-s3 .swiper-slide-1 .canvas-wrap canvas,
section.dji-goggles-s3 .swiper-slide-1 .lens-bg {
    -webkit-transform-origin: 50% 56%;
    -moz-transform-origin: 50% 56%;
    -ms-transform-origin: 50% 56%;
    -o-transform-origin: 50% 56%;
    transform-origin: 50% 56%
}

section.dji-goggles-s3 .swiper-slide-1 .canvas-wrap canvas {
    display: block;
    -webkit-transition: opacity 1.5s ease .5s;
    -moz-transition: opacity 1.5s ease .5s;
    -ms-transition: opacity 1.5s ease .5s;
    -o-transition: opacity 1.5s ease .5s;
    transition: opacity 1.5s ease .5s;
    position: relative;
    width: 1036px;
    height: 530px;
    z-index: 10
}

section.dji-goggles-s3 .swiper-slide-1 figure.product {
    display: block;
    position: absolute;
    top: 0;
    width: 1036px;
    height: 530px;
    left: 50%;
    margin-left: -422px;
    z-index: 20
}

section.dji-goggles-s3 .swiper-slide-1 img.lens {
    display: block;
    position: absolute;
    width: 513px;
    left: 50%;
    margin-left: -256.5px;
    top: 216px;
    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -ms-transition: opacity .6s;
    -o-transition: opacity .6s;
    transition: opacity .6s;
    opacity: 0
}

section.dji-goggles-s3 .swiper-slide-1 .lens-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    -webkit-transform: scale(3.6, 3.6);
    -moz-transform: scale(3.6, 3.6);
    -ms-transform: scale(3.6, 3.6);
    -o-transform: scale(3.6, 3.6);
    transform: scale(3.6, 3.6)
}

section.dji-goggles-s3 .swiper-slide-1 .lens-bg img {
    top: 224px;
    position: absolute;
    display: block;
    width: 186px;
    height: 147px
}

section.dji-goggles-s3 .swiper-slide-1 .len-bg-left {
    left: 284.5px
}

section.dji-goggles-s3 .swiper-slide-1 .len-bg-right {
    right: 284.5px
}

section.dji-goggles-s3 .swiper-slide-2 {
    background-color: #f7f8f9;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

section.dji-goggles-s3 .swiper-slide-2.changed,
section.dji-goggles-s3 .swiper-slide-3 {
    background-color: #f7f8f9
}

section.dji-goggles-s3 .swiper-slide-2 .container {
    text-align: center
}

section.dji-goggles-s3 .swiper-slide-2 .text {
    opacity: 1
}

section.dji-goggles-s3 .swiper-slide-2 .swiper-bg {
    width: 2560px;
    height: 800px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 50%;
    margin-left: -1280px;
    display: block;
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s
}

section.dji-goggles-s3 .swiper-slide-2 .canvas-wrap {
    display: inline-block;
    position: relative
}

section.dji-goggles-s3 .swiper-slide-2 .canvas-wrap canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1036px;
    height: 530px;
    z-index: 30
}

section.dji-goggles-s3 .swiper-slide-2 .product {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 780px;
    z-index: 20
}

section.dji-goggles-s3 .swiper-slide-2 .lens-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    -webkit-transform-origin: 50% 56%;
    -moz-transform-origin: 50% 56%;
    -ms-transform-origin: 50% 56%;
    -o-transform-origin: 50% 56%;
    transform-origin: 50% 56%;
    -webkit-transform: scale(3.6, 3.6);
    -moz-transform: scale(3.6, 3.6);
    -ms-transform: scale(3.6, 3.6);
    -o-transform: scale(3.6, 3.6);
    transform: scale(3.6, 3.6);
    opacity: 0
}

section.dji-goggles-s3 .swiper-slide-2 .lens-bg img {
    top: 255px;
    position: absolute;
    display: block;
    width: 196px;
    height: 150px
}

section.dji-goggles-s3 .swiper-slide-2 .len-bg-left {
    left: 313px
}

section.dji-goggles-s3 .swiper-slide-2 .len-bg-right {
    right: 313px
}

section.dji-goggles-s3 .swiper-slide-3 .container {
    position: relative;
    height: 800px;
    overflow: hidden
}

section.dji-goggles-s3 .swiper-slide-3 .canvas-wrap {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -621.5px;
    display: block;
    width: 1243px;
    height: 700px
}

section.dji-goggles-s3 .point-list {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -500px;
    width: 1000px;
    text-align: center;
    z-index: 10
}

section.dji-goggles-s15 .point-list li,
section.dji-goggles-s3 .point-list li,
section.dji-goggles-s5 .point-list li {
    margin-left: 15px;
    margin-right: 15px;
    width: 14px;
    height: 14px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    background-color: #d8d8d8;
    vertical-align: top;
    cursor: pointer
}

section.dji-goggles-s15 .point-list li.active,
section.dji-goggles-s15 .point-list li:hover,
section.dji-goggles-s3 .point-list li.active,
section.dji-goggles-s3 .point-list li:hover,
section.dji-goggles-s5 .point-list li.active,
section.dji-goggles-s5 .point-list li:hover {
    background-color: #44a8f2
}

section.dji-goggles-s5 {
    min-height: 550px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #fff
}

section.dji-goggles-s5 .text {
    margin-top: 40px;
    text-align: center
}

section.dji-goggles-s5 #swiper-container2 {
    width: 1040px;
    margin: 0 auto
}

section.dji-goggles-s5 #swiper-container2 .swiper-slide {
    height: 340px;
    overflow: hidden;
    background-color: #fff;
    opacity: 0
}

section.dji-goggles-s5 #swiper-container2 .swiper-slide .bg {
    display: block;
    width: 1000px;
    margin-left: auto;
    margin-right: auto
}

section.dji-goggles-s5 .point-list {
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center
}

section.dji-goggles-s6,
section.dji-goggles-s6 .section-bg {
    position: relative;
    background-position: center center;
    text-align: center
}

section.dji-goggles-s6 {
    color: #fff;
    background-color: #fff
}

section.dji-goggles-s6 .section-bg {
    height: 800px;
    background-size: cover
}

section.dji-goggles-s6 .container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -600px
}

section.dji-goggles-s7,
section.dji-goggles-s8 {
    padding-bottom: 40px;
    background-color: #fff
}

section.dji-goggles-s7 .section-bg {
    height: 1000px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center
}

section.dji-goggles-s7 .section-bg .container {
    height: 1100px;
    padding-top: 40px;
    position: relative;
    text-align: center
}

section.dji-goggles-s7 img.product {
    width: 640px
}

section.dji-goggles-s7 .section-content {
    margin-top: -130px
}

section.dji-goggles-s7 .text {
    text-align: center;
    margin-bottom: 30px
}

section.dji-goggles-s7 span.figure-desc {
    position: absolute;
    font-size: 14px;
    width: 300px;
    text-align: center;
    color: #979797
}

section.dji-goggles-s7 span.figure-desc.figure-desc-1 {
    left: -157px;
    top: 502px
}

section.dji-goggles-s7 span.figure-desc.figure-desc-2 {
    top: 646px;
    left: 16px
}

section.dji-goggles-s7 span.figure-desc.figure-desc-3 {
    top: 716px;
    left: 450px
}

section.dji-goggles-s7 span.figure-desc.figure-desc-4 {
    top: 646px;
    left: 879px
}

section.dji-goggles-s7 span.figure-desc.figure-desc-5 {
    top: 502px;
    left: 1058px
}

section.dji-goggles-s7 ul.feature-list {
    margin-top: 70px
}

section.dji-goggles-s7 ul.feature-list li {
    position: relative;
    display: inline-block;
    width: 50%;
    padding-left: 70px;
    margin-bottom: 60px;
    padding-right: 70px;
    vertical-align: top
}

section.dji-goggles-s7 ul.feature-list h4 {
    font-size: 18px;
    margin-bottom: 20px
}

section.dji-goggles-s7 ul.feature-list p {
    font-size: 14px;
    line-height: 24px
}

section.dji-goggles-s8 {
    padding-top: 30px;
    border-top: 1px solid #e8e8e8
}

section.dji-goggles-s8 .text {
    font-size: 12px;
    line-height: 20px;
    color: #979797
}

section.dji-goggles-s8 .text p {
    padding-top: 10px;
    font-size: 12px
}

section.dji-goggles-s10 {
    position: relative;
    background-color: #000
}

section.dji-goggles-s10 .section-bg {
    position: relative;
    height: 800px;
    background-position: center center;
    background-size: cover;
    text-align: center
}

section.dji-goggles-s10 .container {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -600px;
    color: #fff;
    text-align: center
}

section.dji-goggles-s10 ul.feature-list {
    margin-top: 60px
}

section.dji-goggles-s10 ul.feature-list li {
    display: inline-block;
    padding-left: 40px;
    padding-right: 30px;
    max-width: 25%
}

section.dji-goggles-s10 ul.feature-list .feature-num {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 5px
}

section.dji-goggles-s10 ul.feature-list .feature-desc,
section.dji-goggles-s10 ul.feature-list .feature-unit {
    font-size: 14px
}

section.dji-goggles-s11 {
    height: 660px;
    padding-top: 40px;
    background-position: center center;
    background-size: cover
}

section.dji-goggles-s11 figure.product {
    position: relative;
    display: inline-block;
    width: 862px;
    height: 397px
}

section.dji-goggles-s11 .product-desc {
    position: absolute;
    text-align: left;
    left: 100%;
    width: 300px;
    margin-left: 15px
}

section.dji-goggles-s11 .product-desc h4 {
    font-size: 20px;
    margin-bottom: 10px
}

section.dji-goggles-s11 .product-desc p {
    font-size: 12px;
    line-height: 20px
}

section.dji-goggles-s11 .product-desc-1 {
    top: 118px
}

section.dji-goggles-s11 .product-desc-2 {
    top: 242px
}

section.dji-goggles-s11 .product-desc-3 {
    top: 368px
}

section.dji-goggles-s11 .text {
    text-align: center;
    margin-top: 70px
}

section.dji-goggles-s12 {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #44a8f2;
    text-align: center;
    color: #fff
}

section.dji-goggles-s12 .text h3 {
    font-size: 28px;
    margin-bottom: 10px
}

section.dji-goggles-s12 .text p {
    font-size: 16px
}

section.dji-goggles-s13 {
    padding-top: 60px;
    padding-bottom: 40px;
    text-align: center
}

section.dji-goggles-s13 p.subscribe-form-desc {
    font-size: 14px;
    margin-bottom: 30px
}

section.dji-goggles-s13 .btn-action {
    font-size: 16px;
    margin: 25px auto
}

section.dji-goggles-s13 label.error {
    padding: 0;
    text-transform: uppercase
}

section.dji-goggles-s15 {
    min-height: 650px;
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: #fff
}

section.dji-goggles-s15 #swiper-container3 {
    width: 900px;
    margin: 0 auto
}

section.dji-goggles-s15 #swiper-container3.active-slide-1 .swiper-btn-prev,
section.dji-goggles-s15 #swiper-container3.active-slide-3 .swiper-btn-next {
    cursor: default;
    background-image: url(images/products/left-84e7555bdcb4cabce9eb0c8597d2bf92.png);
    opacity: .8
}

section.dji-goggles-s15 #swiper-container3 .swiper-slide {
    height: 570px;
    overflow: hidden;
    background-color: #f1f2f6;
    opacity: 0
}

section.dji-goggles-s15 #swiper-container3 .swiper-slide .bg {
    width: 100%
}

section.dji-goggles-s15 #swiper-container3 .slide-col {
    width: 450px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden
}

section.dji-goggles-s15 .text {
    margin-top: 30px;
    text-align: center
}

section.dji-goggles-s15 .text-table {
    display: table;
    width: 450px;
    height: 570px;
    overflow: hidden;
    text-align: left
}

section.dji-goggles-s15 .slide-text {
    padding-left: 80px;
    padding-right: 80px;
    display: table-cell;
    vertical-align: middle;
    text-align: left
}

section.dji-goggles-s15 .point-list {
    width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    text-align: center
}

section.dji-goggles-s16 {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 40px;
    text-align: center
}

section.dji-goggles-s16 .s16-container {
    width: 100%;
    min-width: 1200px;
    margin-left: auto;
    margin-right: auto
}

section.dji-goggles-s16 .s16-col {
    display: inline-block;
    vertical-align: top;
    overflow: hidden
}

section.dji-goggles-s16 .s16-col img {
    width: 100%;
    display: block;
    -webkit-transition: transform .8s;
    -moz-transition: transform .8s;
    -ms-transition: transform .8s;
    -o-transition: transform .8s;
    transition: transform .8s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

section.dji-goggles-s16 .s16-col img:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25)
}

section.dji-goggles-s16 .col-outer-1 {
    width: 73.4%
}

section.dji-goggles-s16 .col-outer-2 {
    width: 26.6%;
    background-color: #e9eaef
}

section.dji-goggles-s16 .s16-row {
    width: 100%
}

section.dji-goggles-s16 .col-innner-1 {
    width: 36.2%
}

section.dji-goggles-s16 .col-innner-2 {
    width: 63.8%
}

section.dji-goggles-s16 .col-innner-3 {
    width: 58.5%;
    background-color: #e9eaef
}

section.dji-goggles-s16 .col-innner-4 {
    width: 41.5%;
    background-color: #f6f6f6
}

section.dji-goggles-s16 .text {
    margin-top: 40px
}