.info-page section {
    margin: 60px 0 100px
}

.info-page .section-title {
    margin-bottom: 15px;
    font-size: 20px
}

.info-page .section-title,
.info-page .group-title {
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
    color: #707473;
    text-transform: uppercase
}

.info-page .group-title {
    margin-bottom: 22px;
    font-size: 22px;
    font-weight: 500
}

.info-page .breadcrumb-nav {
    position: relative
}

.info-page .breadcrumb-nav #specs,
.info-page .breadcrumb-nav #faq,
.info-page .breadcrumb-nav #downloads,
.info-page .breadcrumb-nav #video,
.info-page .breadcrumb-nav #sdk {
    position: absolute;
    height: 60px;
    width: 100%;
    top: -60px;
    z-index: -10
}

.info-page .section-videos {
    margin: 40px 0 60px
}

.info-page .section-videos .section-title {
    margin-top: 50px;
    margin-bottom: 90px;
    text-align: center
}

.info-page .section-videos .load-more-container {
    text-align: center
}

.info-page .section-videos .load-more-container .link-more {
    font-size: 12px
}

.info-page .section-videos .video-box {
    width: 100%;
    height: auto;
    opacity: 1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.info-page .section-videos .video-box.collapsed {
    height: 0;
    opacity: 0;
    overflow: hidden
}

.info-page .section-videos .video-box .cover {
    position: relative;
    margin-bottom: 15px;
    cursor: pointer;
    display: block
}

.info-page .section-videos .video-box .cover img {
    width: 100%;
    height: 163px
}

.info-page .section-videos .video-box .cover img.first-cover {
    min-width: 163px;
    height: auto
}

.info-page .section-videos .video-box .cover .fa-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -14px;
    color: rgba(255, 255, 255, .8);
    font-size: 28px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

.info-page .section-videos .video-box .cover:hover .fa-play {
    color: rgba(255, 255, 255, .4)
}

.info-page .section-videos .video-box .info {
    color: #707473;
    min-height: 130px
}

.info-page .section-videos .video-box .info .title {
    margin-bottom: 8px;
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif!important;
    font-weight: 400;
    font-size: 14px;
    word-break: break-word
}

.info-page .section-videos .video-box .info .date {
    font-size: 10px;
    background-color: #f7f8f9;
    display: inline-block;
    padding: 3px 6px
}

.info-page .section-videos .col-lg-12 .video-box .info {
    min-height: 110px
}

.info-page .section-videos .col-sm-6 .cover,
.info-page .section-videos .col-md-3 .cover {
    overflow: hidden
}

.info-page .section-specs table {
    width: 100%;
    margin-bottom: 60px
}

.info-page .section-specs table th {
    width: 40%;
    padding: 6px 0;
    color: #44a8f2;
    font-size: 12px;
    line-height: 1.4em;
    vertical-align: top
}

.info-page .section-specs table td {
    width: 60%;
    padding: 6px 0 6px 10px;
    font-size: 12px;
    line-height: 1.4em;
    vertical-align: top
}

.info-page .section-specs table ul {
    list-style: disc;
    padding-left: 2em
}

.info-page .section-specs table ul li {
    line-height: 1.4em;
    margin-bottom: 6px
}

.info-page .section-specs .imovie {
    width: 192px
}

.info-page .section-downloads .download-list {
    margin-bottom: 40px;
    font-size: 12px
}

.info-page .section-downloads .download-list li {
    margin-bottom: 18px
}

.info-page .section-downloads .download-list li .name {
    color: #44a8f2
}

.info-page .section-downloads .download-list li .fa {
    font-size: 16px;
    color: #707473
}

.info-page .section-downloads .download-list li .date {
    color: #707473
}

.info-page .section-downloads .download-list li .btn-download {
    padding: 2px 8px;
    border: 1px solid #707473;
    background: #f7f8f9;
    color: #a6acaa;
    text-transform: uppercase
}

.info-page .section-downloads .desc {
    margin-bottom: 40px;
    font-size: 12px;
    color: #979797
}

.info-page .section-downloads .app-intro {
    margin-bottom: 40px
}

.info-page .section-downloads .app-intro .downloads .qr {
    max-width: 100%;
    max-height: 166px;
    margin-right: 30px
}

.info-page .section-downloads .app-intro .downloads a {
    display: inline-block;
    margin: 0 0 20px 30px;
    height: 40px;
    vertical-align: top
}

.info-page .section-downloads .app-intro .downloads a img {
    height: 100%
}

.info-page .section-downloads .note {
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    font-size: 12px;
    color: #979797
}

.info-page .section-faq .faq-list dd {
    padding-bottom: 30px
}

.info-page .section-faq .faq-list .toggle {
    position: relative;
    padding: 8px 20px 8px 0;
    display: block;
    margin-bottom: 8px;
    color: #44a8f2;
    border-bottom: 1px solid #e5e5e5
}

.info-page .section-faq .faq-list .toggle.collapsed .fa {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

.info-page .section-faq .faq-list .toggle .fa {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -7px;
    -webkit-transform: transition;
    -moz-transform: transition;
    -ms-transform: transition;
    -o-transform: transition;
    transform: transition;
    float: right;
    color: #979797;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.info-page .section-sdk {
    margin: 90px 0
}

.info-page .section-sdk .item {
    margin-bottom: 60px
}

.info-page .section-sdk .item:last-of-type {
    margin-bottom: 0
}

.info-page .section-sdk .item .icon {
    display: block;
    margin: auto;
    width: 110px;
    height: 110px;
    text-indent: -9999px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center
}

.info-page .section-sdk .item .icon.icon-sdk-mobile {
    background-image: url("images/sdk-mobile-471157aeb3b8c5233779d31ae56c83f3.png")
}

.info-page .section-sdk .item .icon.icon-sdk-onboard {
    background-image: url("images/sdk-onboard-d3eaf312be2f1250269282b79da9bcb8.png")
}

.info-page .section-sdk .item .icon.icon-sdk-guidance {
    background-image: url("images/sdk-guidance-2074f96dd77a4a6b168f033614ce971d.png")
}

.info-page .section-sdk .item h2 {
    margin-bottom: 20px
}

.info-page .section-sdk .item .desc {
    color: #a6acaa;
    margin-bottom: 20px
}

.cache-md5 {
    display: none
}

@media (min-width:767px) and (max-width:991px) {
    .info-page .section-videos .video-box .cover img {
        height: 355px
    }
}

.downloads-container .download-wrapper:not(:first-child) {
    display: none
}

.select-product {
    margin-bottom: 40px
}

.select-product .selector {
    position: relative
}

.select-product .selector,
.select-product .selector .holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex
}

.select-product .selector .holder {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    min-width: 200px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #999;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-font-smoothing: antialiased
}

.select-product .selector .holder:hover {
    color: #666
}

@media (max-width:767px) {
    .select-product .selector,
    .select-product .holder,
    .select-product .dropdown-menu {
        width: 100%
    }
}

@media (max-width:767px) {
    .info-page {
        z-index: auto
    }
    .info-page .breadcrumb-nav {
        padding: 30px 0
    }
    .info-page .breadcrumb-nav .title {
        font-size: 24px
    }
    .info-page section {
        margin: 40px 0
    }
    .info-page .section-specs .table-specs {
        margin-bottom: 40px
    }
    .info-page .section-videos {
        margin: 40px 0 20px
    }
    .info-page .section-videos .section-title {
        margin-bottom: 40px
    }
    .info-page .section-videos .video-box {
        margin-bottom: 40px;
        display: block
    }
    .info-page .section-videos .video-box .cover {
        height: auto
    }
    .info-page .section-videos .video-box .cover img {
        height: initial
    }
    .info-page .section-videos .video-box.collapsed {
        display: none
    }
    .info-page .section-videos .video-box .info {
        min-height: initial
    }
    .info-page .section-videos .video-box .info .title {
        white-space: normal;
        word-break: break-word
    }
    .info-page .section-videos .load-more-container {
        margin-top: -20px;
        margin-bottom: 20px;
        position: relative;
        z-index: 100
    }
    .info-page .section-downloads .download-list li .btn-download {
        position: relative;
        top: 6px
    }
    .info-page .section-sdk {
        text-align: center
    }
    .info-page .section-sdk .content {
        margin-top: 30px
    }
    #e5000-special-spec .item {
        display: inline-block;
        padding-top: 10px;
        padding-bottom: 60px;
        text-align: left
    }
    #e5000-special-spec .item img {
        vertical-align: top
    }
    #e5000-special-spec .item p {
        margin-top: 20px
    }
}