section {
    overflow: hidden;
    background-repeat: no-repeat;
    position: relative
}

section h2.common-title {
    text-transform: uppercase
}

section a.section-more {
    position: relative;
    display: inline-block;
    color: #44a8f2;
    font-size: 14px;
    padding-bottom: 6px;
    cursor: pointer
}

section a.section-more:after {
    position: absolute;
    content: '';
    display: block;
    left: 50%;
    bottom: -36px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background-image: url(images/more-arrow-0fa35bf6114a3d54fdd7684b3744d7c1.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 38px 17px;
    -webkit-animation: learnMore 2s infinite;
    -moz-animation: learnMore 2s infinite;
    -ms-animation: learnMore 2s infinite;
    -o-animation: learnMore 2s infinite;
    animation: learnMore 2s infinite
}

.float-up-fast,
.float-up-slow,
.float-up-slower {
    opacity: 0;
    -webkit-transition: all 1.5s ease .4s;
    -moz-transition: all 1.5s ease .4s;
    -ms-transition: all 1.5s ease .4s;
    -o-transition: all 1.5s ease .4s;
    transition: all 1.5s ease .4s;
    -webkit-transform: translate(0, 25px);
    -moz-transform: translate(0, 25px);
    -ms-transform: translate(0, 25px);
    -o-transform: translate(0, 25px);
    transform: translate(0, 25px)
}

.float-up-slow,
.float-up-slower {
    -webkit-transition: all 1.5s ease .7s;
    -moz-transition: all 1.5s ease .7s;
    -ms-transition: all 1.5s ease .7s;
    -o-transition: all 1.5s ease .7s;
    transition: all 1.5s ease .7s
}

.float-up-slower {
    -webkit-transition: all 1.5s ease 1s;
    -moz-transition: all 1.5s ease 1s;
    -ms-transition: all 1.5s ease 1s;
    -o-transition: all 1.5s ease 1s;
    transition: all 1.5s ease 1s
}

.animate-active .float-up-fast,
.animate-active .float-up-slow,
.animate-active .float-up-slower {
    opacity: 1!important;
    -webkit-transform: translate(0, 0)!important;
    -moz-transform: translate(0, 0)!important;
    -ms-transform: translate(0, 0)!important;
    -o-transform: translate(0, 0)!important;
    transform: translate(0, 0)!important
}

#dji-product-common section p.common-content {
    margin-bottom: 0!important
}

.transition-animting {
    z-index: 100!important
}

.scrollbar::-webkit-scrollbar {
    width: 4px
}

.scrollbar::-webkit-scrollbar-track {
    background: 0 0
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #b6b6b6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}

.detail-section .section-abstract {
    position: relative
}

.detail-section .section-abstract .container {
    -webkit-transition: padding .6s ease;
    -moz-transition: padding .6s ease;
    -ms-transition: padding .6s ease;
    -o-transition: padding .6s ease;
    transition: padding .6s ease
}

.detail-section .section-detail {
    position: relative;
    display: none;
    overflow: hidden;
    background-color: #fff
}

.detail-section .section-detail .container {
    position: relative
}

.detail-section .section-more {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease
}

.detail-section .section-close {
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 50%;
    margin-left: 630px;
    display: inline-block;
    -webkit-transition: opacity .4s;
    -moz-transition: opacity .4s;
    -ms-transition: opacity .4s;
    -o-transition: opacity .4s;
    transition: opacity .4s;
    cursor: pointer;
    z-index: 40;
    width: 24px
}

.detail-section .section-close img {
    width: 24px;
    -webkit-transition: all .8s ease .4s;
    -moz-transition: all .8s ease .4s;
    -ms-transition: all .8s ease .4s;
    -o-transition: all .8s ease .4s;
    transition: all .8s ease .4s
}

.detail-section.detail-opened .section-more {
    opacity: 0
}

.detail-section.detail-opened .section-abstract .container {
    padding-bottom: 31px
}

.detail-section.detail-opened .section-close {
    opacity: .55
}

.detail-section.detail-opened .section-close img {
    height: 24px
}

.detail-section.detail-opened .section-close:hover {
    opacity: 1
}

.detail-section .over-top .section-close {
    position: fixed;
    top: 100px
}

.detail-section .over-top.over-bottom .section-close {
    position: absolute;
    top: auto;
    bottom: 134px
}

@media (max-width:1350px) {
    .detail-section .section-close {
        margin-left: 534px
    }
}

section.p4p-banner {
    position: relative;
    height: 800px;
    color: #fff
}

section.p4p-banner .bg-scale {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover
}

section.p4p-banner .container {
    position: absolute;
    top: 240px;
    left: 50%;
    margin-left: -600px
}

section.p4p-banner .banner-title {
    margin-bottom: 20px;
    font-size: 46px;
    text-transform: uppercase
}

section.p4p-banner .banner-title .p4 {
    display: inline-block;
    margin-right: 10px;
    font-weight: 500
}

section.p4p-banner .banner-title .pro {
    font-weight: 200
}

section.p4p-banner .banner-slogan {
    margin-bottom: 70px;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase
}

section.p4p-banner .video-slider {
    position: relative;
    display: inline-block;
    margin-bottom: 30px
}

section.p4p-banner .video-slider .video-title {
    margin-top: 5px;
    width: 320px;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    color: #707473
}

section.p4p-banner .video-slider ul.covers {
    width: 220px;
    height: 214px
}

section.p4p-banner .video-slider .video-container {
    width: 320px;
    margin: 0 auto;
    text-align: center
}

section.p4p-banner .video-slider .video-box {
    display: block;
    height: 100%
}

section.p4p-banner .video-slider .roundabout-holder {
    list-style: none;
    width: 320px;
    height: 180px;
    margin: 0 auto
}

section.p4p-banner .video-slider .roundabout-moveable-item {
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
    width: 320px;
    height: 180px;
    cursor: pointer
}

section.p4p-banner .video-slider .roundabout-moveable-item img {
    display: block;
    height: 100%;
    margin: 0;
    background-color: #fff;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px)
}

section.p4p-banner .video-slider .no-blur img,
section.p4p-banner .video-slider .roundabout-in-focus img {
    -webkit-filter: blur(0)!important;
    -moz-filter: blur(0)!important;
    -ms-filter: blur(0)!important;
    filter: blur(0)!important
}

section.p4p-banner .video-slider .controls {
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    z-index: 90
}

section.p4p-banner .video-slider .controls a {
    display: inline-block;
    opacity: .8;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s
}

section.p4p-banner .video-slider .controls a:hover {
    opacity: .9
}

section.p4p-banner .video-slider .controls img {
    width: 18px;
    height: 33px
}

section.p4p-banner .video-slider .controls .prev {
    float: left;
    margin-left: -92px
}

section.p4p-banner .video-slider .controls .next {
    float: right;
    margin-right: -92px
}

section.p4p-banner .video-slider .controls .next img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

section.p4p-s1 {
    min-height: 700px;
    padding-bottom: 50px;
    padding-top: 45px;
    background-position: center center;
    background-size: cover;
    text-align: center
}

section.p4p-s1 .swiper-container {
    height: 415px;
    text-align: center
}

section.p4p-s1 .swiper-container .swiper-slide {
    height: 415px
}

section.p4p-s1 .swiper-container img {
    width: 670px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s1 .swiper-container .control-box {
    position: absolute;
    top: 300px;
    left: 50%;
    margin-left: -550px;
    width: 1100px;
    height: 50px;
    z-index: 30
}

section.p4p-s1 .swiper-container .control-box .swiper-btn-next,
section.p4p-s1 .swiper-container .control-box .swiper-btn-prev {
    position: absolute;
    background-size: cover;
    top: 0;
    width: 15px;
    height: 50px;
    cursor: pointer;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
    transition: .3s all;
    background-image: url(images/left-5ea3cae2fba2067cf78aa68b03024041.png);
    opacity: .8
}

section.p4p-s1 .swiper-container .control-box .swiper-btn-next:hover,
section.p4p-s1 .swiper-container .control-box .swiper-btn-prev:hover {
    opacity: 1;
    background-image: url(images/left-hover-dc378016e56315b9b08cc537ef6a8a1c.png)!important
}

section.p4p-s1 .swiper-container .control-box .swiper-btn-prev {
    left: 0
}

section.p4p-s1 .swiper-container .control-box .swiper-btn-next {
    right: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

section.p4p-s1 .text {
    padding-left: 50px;
    padding-right: 50px
}

section.p4p-s1 ul.features {
    margin-top: 34px;
    padding-left: 20px;
    padding-right: 20px
}

section.p4p-s1 ul.features li {
    display: inline-block;
    width: 109px;
    padding-left: 3px;
    padding-right: 3px;
    vertical-align: top
}

section.p4p-s1 ul.features img.feature-icon {
    width: 42px;
    height: 42px;
    display: inline-block
}

section.p4p-s1 ul.features span.feature-text {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    color: #979797
}

section.p4p-s2 .section-abstract {
    background-color: #f9f9f9;
    text-align: center
}

section.p4p-s2 .section-abstract .container {
    padding-bottom: 86px
}

section.p4p-s2 .section-abstract .product {
    width: 470px;
    height: 376px;
    display: inline-block;
    vertical-align: top
}

section.p4p-s2 .section-abstract .text {
    margin-top: 65px;
    margin-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px
}

section.p4p-s2 .section-detail .detail-text,
section.p4p-s2 .section-detail .detail-video {
    text-align: center
}

section.p4p-s2 .section-detail .detail-video iframe {
    width: 720px;
    vertical-align: bottom
}

section.p4p-s2 .section-detail .detail-part {
    padding-top: 70px;
    padding-bottom: 70px
}

section.p4p-s2 .detail-part-5 .detail-video iframe {
    width: 980px
}

section.p4p-s2 .detail-part-0 {
    text-align: center;
    border-bottom: 1px solid #ccc
}

section.p4p-s2 .detail-part-0 .detail-video {
    padding-top: 10px
}

section.p4p-s2 .detail-part-0 .detail-text {
    margin-top: 20px
}

section.p4p-s2 .detail-part-1,
section.p4p-s2 .detail-part-2,
section.p4p-s2 .detail-part-3 {
    border-bottom: 1px solid #ccc
}

section.p4p-s2 .detail-part-1 .detail-content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px
}

section.p4p-s2 .detail-part-1 .detail-features {
    padding-left: 150px
}

section.p4p-s2 .detail-part-1 .detail-bg {
    pading-top: 30px
}

section.p4p-s2 .detail-part-1 .detail-bg img {
    width: 466px
}

section.p4p-s2 .detail-part-1 h4.feature-title {
    margin-bottom: 10px;
    font-size: 14px
}

section.p4p-s2 .detail-part-1 .fearture-box {
    padding-bottom: 10px
}

section.p4p-s2 .detail-part-1 .fearture-box:last-child,
section.p4p-s2 .detail-part-2 .detail-content-3 ul.feature-list:last-child {
    padding-bottom: 0
}

section.p4p-s2 .detail-part-1 .line-content {
    position: relative;
    margin-bottom: 6px;
    padding-left: 280px
}

section.p4p-s2 .detail-part-1 .line-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 270px;
    height: 4px;
    margin-top: -1px;
    background-color: #979797;
    z-index: 20;
    opacity: .3
}

section.p4p-s2 .detail-part-1 .line-content:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    height: 4px;
    margin-top: -1px;
    z-index: 30;
    -webkit-transition: all 1.5s ease .5s;
    -moz-transition: all 1.5s ease .5s;
    -ms-transition: all 1.5s ease .5s;
    -o-transition: all 1.5s ease .5s;
    transition: all 1.5s ease .5s
}

section.p4p-s2 .detail-part-1 .line-content.line-1:after {
    width: 0;
    background-color: #979797
}

section.p4p-s2 .detail-part-1 .line-content.line-2:after {
    width: 0;
    background-color: #44a8f2
}

section.p4p-s2 .detail-part-1 .line-content.line-3:after {
    width: 0;
    background-color: #979797
}

section.p4p-s2 .detail-part-1 .line-content.line-4:after {
    width: 0;
    background-color: #44a8f2
}

section.p4p-s2 .detail-part-1 .animate-active .line-content.line-1:after {
    width: 162px
}

section.p4p-s2 .detail-part-1 .animate-active .line-content.line-2:after {
    width: 270px
}

section.p4p-s2 .detail-part-1 .animate-active .line-content.line-3:after {
    width: 135px
}

section.p4p-s2 .detail-part-1 .animate-active .line-content.line-4:after {
    width: 270px
}

section.p4p-s2 .detail-part-1 span.line-desc {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px
}

section.p4p-s2 .detail-part-1 span.format-desc {
    display: inline-block;
    margin-bottom: 5px;
    color: #979797;
    font-size: 32px;
    font-weight: 200
}

section.p4p-s2 .detail-part-1 span.format-desc:first-child {
    margin-right: 54px
}

section.p4p-s2 .detail-part-1 span.format-desc:last-child {
    color: #44a8f2
}

section.p4p-s2 .detail-part-1 span.product-desc {
    position: relative;
    display: inline-block;
    min-width: 25%;
    padding-left: 20px;
    margin-right: 36px;
    font-size: 14px;
    text-transform: uppercase
}

section.p4p-s2 .detail-part-1 span.product-desc:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -5.5px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: #979797
}

section.p4p-s2 .detail-part-1 span.product-desc:last-child:before {
    background-color: #44a8f2
}

section.p4p-s2 .detail-part-2 .detail-content {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc
}

section.p4p-s2 .detail-part-2 .detail-content-2 {
    width: 980px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s2 .detail-part-2 .detail-content-2 ul.feature-list {
    margin-bottom: 15px;
    margin-left: -15px;
    margin-right: -15px;
    text-align: center
}

section.p4p-s2 .detail-part-2 .detail-content-2 ul.feature-list li {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    padding-left: 15px;
    padding-right: 15px
}

section.p4p-s2 .detail-part-2 .detail-content-2 ul.feature-list .feature-title {
    font-size: 16px
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-item {
    position: relative;
    width: 306px;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-item .feature-item-bg {
    display: block;
    width: 100%
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-item .feature-item-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    -webkit-transition: all 2.5s ease .5s;
    -moz-transition: all 2.5s ease .5s;
    -ms-transition: all 2.5s ease .5s;
    -o-transition: all 2.5s ease .5s;
    transition: all 2.5s ease .5s;
    overflow: hidden
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-item .feature-item-line img {
    width: 306px;
    height: 226px;
    display: block;
    max-width: none
}

section.p4p-s2 .detail-part-2 .detail-content-2 .animate-active .feature-item .feature-item-line {
    width: 100%
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-desc {
    color: #979797
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-desc .desc-item {
    position: relative;
    display: inline-block;
    font-size: 14px;
    margin-right: 30px;
    vertical-align: top;
    padding-left: 30px;
    text-transform: uppercase
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-desc .desc-item:before {
    display: block;
    position: absolute;
    content: '';
    width: 20px;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: #44a8f2
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-desc .desc-item:after {
    display: block;
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    top: 50%;
    margin-top: -3px;
    background-color: #44a8f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    left: 8px
}

section.p4p-s2 .detail-part-2 .detail-content-2 .feature-desc .desc-item:last-child:after,
section.p4p-s2 .detail-part-2 .detail-content-2 .feature-desc .desc-item:last-child:before {
    background-color: #df3b49
}

section.p4p-s2 .detail-part-2 .detail-content-3 {
    padding-top: 70px;
    border-top: 1px solid #ccc
}

section.p4p-s2 .detail-part-2 .detail-content-3 .text,
section.p4p-s2 .detail-part-4 {
    text-align: center
}

section.p4p-s2 .detail-part-2 .detail-content-3 ul.feature-list {
    text-align: center;
    padding-bottom: 20px
}

section.p4p-s2 .detail-part-2 .detail-content-3 ul.feature-list li {
    display: inline-block;
    width: 380px;
    margin-left: 12px;
    margin-right: 12px;
    vertical-align: top;
    text-align: left
}

section.p4p-s2 .detail-part-2 .detail-content-3 ul.feature-list li img {
    width: 100%;
    display: block
}

section.p4p-s2 .detail-part-2 .detail-content-3 ul.feature-list li p {
    font-size: 14px;
    margin-top: 10px
}

section.p4p-s2 .detail-part-2 .detail-content-3 .down {
    display: inline-block;
    margin-top: 10px;
    color: #44a8f2;
    font-size: 12px
}

section.p4p-s2 .detail-part-2 .detail-features {
    display: inline-block;
    width: 50%;
    padding-right: 15px;
    vertical-align: top;
    text-align: right;
    padding-bottom: 24px
}

section.p4p-s2 .detail-part-2 .detail-bg {
    display: inline-block;
    width: 50%;
    padding-left: 15px;
    text-align: left;
    vertical-align: top
}

section.p4p-s2 .detail-part-2 .detail-bg img {
    width: 260px
}

section.p4p-s2 .detail-part-2 .feature-contain {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 185px;
    margin-top: 7px;
    vertical-align: top
}

section.p4p-s2 .detail-part-2 .feature-contain .sp {
    position: absolute;
    left: 0;
    top: 105%;
    text-align: left;
    font-size: 12px;
    color: #979797
}

section.p4p-s2 .detail-part-2 .feature-box-1,
section.p4p-s2 .detail-part-2 .feature-box-2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 126px;
    height: 95px;
    -webkit-transition: all 1.5s ease .5s;
    -moz-transition: all 1.5s ease .5s;
    -ms-transition: all 1.5s ease .5s;
    -o-transition: all 1.5s ease .5s;
    transition: all 1.5s ease .5s;
    border: solid 2px #44a8f2;
    z-index: 30
}

section.p4p-s2 .detail-part-2 .feature-box-2 {
    z-index: 20;
    border: dashed 2px #979797;
    opacity: 0
}

section.p4p-s2 .detail-part-2 .box-desc {
    position: absolute;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: all 1s ease 1.8s;
    -moz-transition: all 1s ease 1.8s;
    -ms-transition: all 1s ease 1.8s;
    -o-transition: all 1s ease 1.8s;
    transition: all 1s ease 1.8s
}

section.p4p-s2 .detail-part-2 .animate-active .feature-box-1 {
    width: 100%;
    height: 100%
}

section.p4p-s2 .detail-part-2 .animate-active .box-desc,
section.p4p-s2 .detail-part-2 .animate-active .feature-box-2 {
    opacity: 1
}

section.p4p-s2 .detail-part-2 .box-desc-1 {
    top: 8px;
    left: 8px;
    font-size: 14px;
    color: #707473
}

section.p4p-s2 .detail-part-2 .box-desc-2 {
    color: #707473;
    top: 8px;
    right: 15px;
    font-size: 24px;
    line-height: 24px
}

section.p4p-s2 .detail-part-2 .box-desc-3 {
    color: #979797;
    top: 96px;
    left: 8px;
    font-size: 12px
}

section.p4p-s2 .detail-part-2 .box-desc-4 {
    color: #979797;
    top: 96px;
    right: 150px;
    font-size: 12px
}

section.p4p-s2 .detail-part-3 .detail-content {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px
}

section.p4p-s2 .detail-part-3 .feature-sp {
    font-size: 12px;
    line-height: 20px;
    color: #979797;
    margin-top: 15px
}

section.p4p-s2 .detail-part-3 .detail-bg {
    padding-top: 85px;
    padding-left: 40px
}

section.p4p-s2 .detail-part-3 .detail-bg img {
    width: 380px
}

section.p4p-s2 .detail-part-3 .detail-features {
    padding-left: 150px
}

section.p4p-s2 .detail-part-3 .detail-features .feature-contain {
    position: relative
}

section.p4p-s2 .detail-part-3 .detail-features .feature-bg img {
    width: 400px;
    height: 356px;
    display: inline-block;
    vertical-align: top
}

section.p4p-s2 .detail-part-3 .detail-features .feature-line {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    -webkit-transition: all 2.5s ease .5s;
    -moz-transition: all 2.5s ease .5s;
    -ms-transition: all 2.5s ease .5s;
    -o-transition: all 2.5s ease .5s;
    transition: all 2.5s ease .5s
}

section.p4p-s2 .detail-part-3 .detail-features .feature-line img {
    width: 400px;
    height: 356px;
    display: inline-block;
    vertical-align: top;
    max-width: none
}

section.p4p-s2 .detail-part-3 .feature-contain-2 {
    text-align: right;
    margin-top: 20px;
    padding-bottom: 8px
}

section.p4p-s2 .detail-part-3 .feature-contain-2 .contain-box {
    min-height: 100px;
    position: relative;
    display: inline-block
}

section.p4p-s2 .detail-part-3 .feature-contain-2 .contain-box img {
    width: 357px
}

section.p4p-s2 .detail-part-3 .feature-contain-2 p.box-desc {
    position: absolute;
    font-size: 12px;
    color: #979797
}

section.p4p-s2 .detail-part-3 .feature-contain-2 .box-desc-1 {
    width: 160px;
    top: 110px;
    right: 100%;
    margin-right: 10px;
    text-align: right
}

section.p4p-s2 .detail-part-3 .feature-contain-2 .box-desc-2 {
    width: 160px;
    text-align: center;
    top: 150px;
    left: -18px
}

section.p4p-s2 .detail-part-3 .animate-active .feature-contain .feature-line {
    width: 100%
}

section.p4p-s2 .detail-part-4 .detail-features {
    position: relative;
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px
}

section.p4p-s2 .detail-part-4 .detail-features .detail-bg {
    width: 980px;
    min-height: 120px;
    z-index: 20
}

section.p4p-s2 .detail-part-4 .detail-features .feature-box {
    position: absolute;
    top: 26px;
    width: 0;
    height: 0;
    border: solid 2px #44a8f2;
    background-color: rgba(68, 168, 242, .25);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    opacity: .8;
    -webkit-transition: all 1.5s ease .5s;
    -moz-transition: all 1.5s ease .5s;
    -ms-transition: all 1.5s ease .5s;
    -o-transition: all 1.5s ease .5s;
    transition: all 1.5s ease .5s
}

section.p4p-s2 .detail-part-4 .detail-features .feature-box-1 {
    left: 58px
}

section.p4p-s2 .detail-part-4 .detail-features .feature-box-2 {
    left: 556px
}

section.p4p-s2 .detail-part-4 .detail-features .feature-desc {
    position: absolute;
    color: #fff;
    font-size: 14px;
    bottom: 24px;
    text-align: center;
    width: 50%;
    z-index: 30
}

section.p4p-s2 .detail-part-4 .detail-features .feature-desc-2 {
    margin-left: 50%
}

section.p4p-s2 .detail-part-4.animate-active .detail-features .feature-box {
    width: 75px;
    height: 144px
}

section.p4p-s3 .section-abstract {
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    text-align: center
}

section.p4p-s3 .section-abstract .container {
    padding-top: 40px;
    padding-bottom: 86px
}

section.p4p-s3 .section-abstract .product img {
    width: 560px;
    height: 375px
}

section.p4p-s3 .section-abstract .text {
    margin-top: 50px;
    margin-bottom: 16px
}

section.p4p-s3 .section-detail {
    text-align: center
}

section.p4p-s3 .section-detail .detail-text {
    margin-bottom: 50px
}

section.p4p-s3 .section-detail .detail-part {
    padding-top: 70px;
    padding-bottom: 70px
}

section.p4p-s3 .section-detail .canvas-features canvas {
    width: 980px;
    height: 482px;
    background-color: #202020
}

section.p4p-s3 .section-detail .canvas-features img {
    width: 980px
}

section.p4p-s3 .detail-part-1,
section.p4p-s3 .detail-part-2 {
    border-bottom: 1px solid #ccc
}

section.p4p-s3 .detail-part-1 iframe {
    display: inline-block;
    width: 720px;
    vertical-align: top
}

section.p4p-s3 .detail-part-2 .detail-video {
    display: inline-block;
    width: 50%;
    padding-right: 5px;
    text-align: right;
    vertical-align: top
}

section.p4p-s3 .detail-part-2 .detail-video iframe {
    width: 485px;
    display: inline-block;
    vertical-align: top
}

section.p4p-s3 .detail-part-2 .detail-bg {
    display: inline-block;
    width: 50%;
    padding-left: 5px;
    text-align: left;
    vertical-align: top
}

section.p4p-s3 .detail-part-2 .detail-bg img {
    display: block;
    width: 485px;
    height: 273px
}

section.p4p-s3 .detail-part-2 .detail-features {
    margin-top: 40px
}

section.p4p-s3 .detail-part-3 .detail-bg {
    padding-bottom: 10px
}

section.p4p-s3 .detail-part-3 .detail-bg img,
section.p4p-s4 .section-abstract .product img {
    display: block;
    width: 830px;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s4 .section-abstract {
    background-color: #f7f8f9;
    text-align: center
}

section.p4p-s4 .section-abstract .container {
    padding-top: 30px;
    padding-bottom: 86px;
    min-height: 650px
}

section.p4p-s4 .section-abstract .product img {
    width: 603px;
    height: 522px
}

section.p4p-s4 .section-abstract .text {
    margin-bottom: 16px
}

section.p4p-s4 .section-abstract .text p.common-tips {
    color: #979797
}

section.p4p-s4 .section-detail {
    position: relative
}

section.p4p-s4 .section-detail .section-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 260px;
    filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fff, endColorstr=#f0f0f0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#fff, endColorstr=#f0f0f0)";
    background: linear-gradient(top, #fff, #f0f0f0);
    background: -ms-linear-gradient(top, #fff, #f0f0f0);
    background: -moz-linear-gradient(top, #fff, #f0f0f0);
    background: -o-linear-gradient(top, #fff, #f0f0f0);
    background: -webkit-linear-gradient(top, #fff, #f0f0f0)
}

section.p4p-s4 .section-detail .detail-text {
    text-align: center;
    margin-bottom: 50px
}

section.p4p-s4 .section-detail .detail-part {
    padding-top: 70px
}

section.p4p-s4 .detail-part-1 {
    padding-bottom: 70px;
    border-bottom: 1px solid #ccc
}

section.p4p-s4 .detail-part-1 .detail-features {
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px
}

section.p4p-s4 .detail-part-1 .detail-features-1 {
    text-align: right
}

section.p4p-s4 .detail-part-1 .detail-features-2 {
    text-align: left
}

section.p4p-s4 .detail-part-1 .feature-title {
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 200;
    color: #44a8f2
}

section.p4p-s4 .detail-part-1 .fearture-box {
    padding-bottom: 10px
}

section.p4p-s4 .detail-part-1 .fearture-box:last-child {
    padding-bottom: 0
}

section.p4p-s4 .detail-part-1 .line-content {
    position: relative;
    margin-bottom: 12px;
    padding-left: 293px
}

section.p4p-s4 .detail-part-1 .line-content:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 270px;
    height: 4px;
    margin-top: -1px;
    background-color: #979797;
    z-index: 20;
    opacity: .3
}

section.p4p-s4 .detail-part-1 .line-content:after {
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    top: 50%;
    display: block;
    height: 4px;
    margin-top: -1px;
    z-index: 30;
    -webkit-transition: all 1.5s ease 1.5s;
    -moz-transition: all 1.5s ease 1.5s;
    -ms-transition: all 1.5s ease 1.5s;
    -o-transition: all 1.5s ease 1.5s;
    transition: all 1.5s ease 1.5s;
    background-color: #44a8f2
}

section.p4p-s4 .detail-part-1 p.common-tips {
    margin-top: 10px;
    color: #979797;
    text-align: center
}

section.p4p-s4 .detail-part-1.animate-active .line-content.line-1:after {
    width: 190px
}

section.p4p-s4 .detail-part-1.animate-active .line-content.line-2:after {
    width: 95px
}

section.p4p-s4 .detail-part-1.animate-active .line-content.line-3:after {
    width: 109px
}

section.p4p-s4 .detail-part-1.animate-active .line-content.line-4:after {
    width: 190px
}

section.p4p-s4 .detail-part-1.animate-active .line-content.line-5:after {
    width: 55px
}

section.p4p-s4 .detail-part-1.animate-active .line-content.line-6:after {
    width: 109px
}

section.p4p-s4 .detail-part-2 {
    position: relative;
    text-align: center
}

section.p4p-s4 .detail-part-2 .detail-bg img {
    display: block;
    width: 374px;
    height: 326px;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s5 {
    padding-bottom: 60px;
    overflow: hidden;
    background-color: #f7f8f9
}

section.p4p-s5 ul.section-tab {
    width: 100%;
    padding-top: 38px;
    padding-bottom: 38px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fff
}

section.p4p-s5 ul.section-tab li {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    vertical-align: top;
    text-transform: uppercase
}

section.p4p-s5 ul.section-tab li:after {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: 65%;
    background-color: #707473;
    right: -.5px;
    top: 15%
}

section.p4p-s5 ul.section-tab li:last-child:after {
    display: none
}

section.p4p-s5 ul.section-tab li a {
    font-size: 24px;
    line-height: 24px;
    color: #707473;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

section.p4p-s5 ul.section-tab li.active a {
    color: #44a8f2
}

section.p4p-s5 .to-initial {
    display: block;
    position: absolute;
    z-index: -30;
    bottom: -1000px
}

section.p4p-s5 .swiper-container {
    position: relative;
    display: block;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 20
}

section.p4p-s5 .swiper-container .swiper-wrapper {
    width: 720px;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s5 .swiper-container .swiper-slide {
    width: 720px;
    background-color: #f7f8f9;
    z-index: 10
}

section.p4p-s5 .swiper-container .swiper-slide.swiper-slide-active {
    z-index: 20
}

section.p4p-s5 .swiper-container .scene-box {
    width: 720px;
    height: 405px;
    margin-bottom: 20px;
    overflow: hidden
}

section.p4p-s5 .swiper-container .scene-box iframe.scene-iframe,
section.p4p-s5 .swiper-container .scene-box img.scene-cover {
    display: block;
    width: 720px
}

section.p4p-s5 .swiper-container .text-box {
    text-align: left;
    width: 720px;
    height: 260px;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto
}

section.p4p-s5 .swiper-container .swiper-control {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center
}

section.p4p-s5 .swiper-container ul.swiper-tab {
    display: inline-block;
    border-bottom: solid 2px #e1e1e1;
    text-align: center
}

section.p4p-s5 .swiper-container ul.swiper-tab li {
    display: inline-block;
    vertical-align: bottom;
    padding-left: 30px;
    padding-right: 30px
}

section.p4p-s5 .swiper-container ul.swiper-tab li:first-child {
    padding-left: 0
}

section.p4p-s5 .swiper-container ul.swiper-tab li:last-child {
    padding-right: 0
}

section.p4p-s5 .swiper-container ul.swiper-tab li a {
    border-bottom: 2px solid #e1e1e1;
    min-height: 34px;
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 8px;
    position: relative;
    top: 2px;
    display: inline-block;
    color: #979797
}

section.p4p-s5 .swiper-container ul.swiper-tab li.active a {
    border-color: #44a8f2
}

section.p4p-s6 {
    min-height: 750px;
    padding: 100px 0;
    background: #fff
}

section.p4p-s6 .text,
section.p4p-s7 .text h2.common-title {
    text-align: center
}

section.p4p-s6 .swiper-container {
    width: 100%;
    height: 550px
}

section.p4p-s6 .swiper-container .swiper-slide {
    width: 900px;
    height: 510px;
    opacity: .6;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    cursor: -webkit-zoom-in
}

section.p4p-s6 .swiper-container .swiper-slide.middle {
    width: 669px
}

section.p4p-s6 .swiper-container .swiper-slide.long {
    width: 889px
}

section.p4p-s6 .swiper-container .swiper-slide.short {
    width: 281px
}

section.p4p-s6 .swiper-container .swiper-slide-active,
section.p4p-s6 .swiper-container:hover .control-box {
    opacity: 1
}

section.p4p-s6 .swiper-container .img-box {
    width: auto;
    height: 510px
}

section.p4p-s6 .swiper-container .img-box img {
    width: auto;
    height: 100%
}

section.p4p-s6 .swiper-pagination {
    bottom: 0
}

section.p4p-s6 .swiper-pagination .swiper-pagination-bullet {
    background-color: #ddd
}

section.p4p-s6 .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #979797
}

section.p4p-s6 .swiper-container .control-box {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -640px;
    width: 1280px;
    height: 56px
}

section.p4p-s6 .swiper-container .control-box .swiper-btn-next,
section.p4p-s6 .swiper-container .control-box .swiper-btn-prev {
    position: absolute;
    background-size: cover;
    top: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    opacity: .7;
    background-image: url(images/icon-circle-left-white-c14958b598723b36ae2dcae2ff4f960e.svg);
    z-index: 1
}

section.p4p-s6 .swiper-container .control-box .swiper-btn-next.swiper-button-disabled,
section.p4p-s6 .swiper-container .control-box .swiper-btn-prev.swiper-button-disabled {
    visibility: hidden
}

section.p4p-s6 .swiper-container .control-box .swiper-btn-next:hover,
section.p4p-s6 .swiper-container .control-box .swiper-btn-prev:hover {
    opacity: 1
}

section.p4p-s6 .swiper-container .control-box .swiper-btn-prev {
    left: 50px
}

section.p4p-s6 .swiper-container .control-box .swiper-btn-next {
    right: 50px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

section.p4p-s6 .text p {
    font-size: 20px;
    color: #fff;
    text-align: center
}

section.p4p-s6 .modal-container {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 2000
}

section.p4p-s6 .modal-container .icon-close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    z-index: 99
}

section.p4p-s6 .modal-container .swiper-container {
    width: 100%;
    height: 678px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

section.p4p-s6 .modal-container .swiper-container .swiper-wrapper {
    width: 100%;
    height: 678px
}

section.p4p-s6 .modal-container .swiper-container .swiper-slide {
    width: auto;
    height: 678px;
    opacity: .4;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    cursor: default
}

section.p4p-s6 .modal-container .swiper-container .control-box .swiper-btn-next:hover,
section.p4p-s6 .modal-container .swiper-container .control-box .swiper-btn-prev:hover,
section.p4p-s6 .modal-container .swiper-container .swiper-slide-active,
section.p4p-s6 .modal-container .swiper-container:hover .control-box {
    opacity: 1
}

section.p4p-s6 .modal-container .swiper-container .img-box {
    margin: 0 auto;
    width: auto;
    height: 678px;
    text-align: center
}

section.p4p-s6 .modal-container .swiper-container .control-box {
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -28px;
    margin-left: -720px;
    width: 1440px;
    height: 56px;
    z-index: 99
}

@media (max-width:1280px) {
    section.p4p-s6 .modal-container .swiper-container .control-box {
        width: 1280px;
        margin-left: -640px
    }
}

section.p4p-s6 .modal-container .swiper-container .control-box .swiper-btn-next,
section.p4p-s6 .modal-container .swiper-container .control-box .swiper-btn-prev {
    position: absolute;
    background-size: cover;
    top: 0;
    width: 42px;
    height: 42px;
    cursor: pointer;
    -webkit-transition: .2s all;
    -moz-transition: .2s all;
    -ms-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all;
    opacity: .7;
    background-image: url(images/icon-circle-left-white-c14958b598723b36ae2dcae2ff4f960e.svg)
}

section.p4p-s6 .modal-container .swiper-container .control-box .swiper-btn-prev {
    left: 50px
}

section.p4p-s6 .modal-container .swiper-container .control-box .swiper-btn-next {
    right: 50px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

section.p4p-s7 {
    padding-top: 60px
}

section.p4p-s7 .products-compare {
    width: 1090px;
    margin: 0 auto
}

section.p4p-s7 .products-compare .product-img {
    width: 230px;
    height: 133px
}

section.p4p-s7 .products-compare .product-img.p4p {
    margin-left: -40px
}

section.p4p-s7 .products-compare .product-img.p4a {
    margin-left: -10px
}

section.p4p-s7 .products-compare .product-img.p3se {
    margin-left: -55px
}

section.p4p-s7 .compare-table {
    margin-top: 12px
}

section.p4p-s7 .compare-table th {
    padding: 14px;
    font-size: 18px
}

section.p4p-s7 .compare-table td {
    padding: 14px;
    vertical-align: middle
}

section.p4p-s7 .compare-table td:nth-child(1) {
    width: 170px
}

section.p4p-s7 .compare-table td:nth-child(2) {
    width: 250px
}

section.p4p-s7 .compare-table td:nth-child(3) {
    width: 295px
}

section.p4p-s7 .compare-table td:nth-child(4) {
    width: 220px
}

section.p4p-s7 .compare-table .blue {
    color: #44a8f2
}

section.p4p-s7 .compare-link {
    text-align: center;
    margin: 30px 0 100px
}

section.p4p-s7 .compare-link .link-more {
    font-size: 14px
}

.dji-zh-CN section.p4p-s5 .swiper-container .text-box {
    height: 280px
}

.dji-zh-CN section.p4p-banner .banner-slogan {
    font-size: 24px
}

@-moz-keyframes phantom4Banner {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes phantom4Banner {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-o-keyframes phantom4Banner {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes phantom4Banner {
    0% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
    to {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}

@-moz-keyframes learnMore {
    0%,
    to {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    50% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@-webkit-keyframes learnMore {
    0%,
    to {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    50% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@-o-keyframes learnMore {
    0%,
    to {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    50% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px)
    }
}

@keyframes learnMore {
    0%,
    to {
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        -o-transform: translateY(-2px);
        transform: translateY(-2px)
    }
    50% {
        -webkit-transform: translateY(6px);
        -moz-transform: translateY(6px);
        -ms-transform: translateY(6px);
        -o-transform: translateY(6px);
        transform: translateY(6px)
    }
}