.dji-de .buy-link,
.dji-de .buy-now,
.dji-en .buy-link,
.dji-en .buy-now,
.dji-es .buy-link,
.dji-es .buy-now,
.dji-fr .buy-link,
.dji-fr .buy-now,
.dji-ru .buy-link,
.dji-ru .buy-now,
.dji-zh-CN .buy-link,
.dji-zh-CN .buy-now,
.dji-zh-TW .buy-link,
.dji-zh-TW .buy-now {
    font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif
}

.dji-zh-CN section .text h3,
.dji-zh-CN section h3 {
    font-size: 26px
}

.product-banner {
    background: #f7f8f9;
    position: relative;
    z-index: 2
}

.product-banner .product {
    display: block;
    margin: auto
}

.product-banner .logo img {
    display: block;
    margin-bottom: 15px;
    max-width: 100%
}

.product-banner .logo p {
    font-size: 28px;
    font-weight: 400
}

.product-banner .logo p.desc {
    font-size: 20px;
    color: #707473
}

.product-banner .text {
    margin-top: 40px
}

.product-banner .text h4 {
    margin-bottom: 15px;
    text-transform: uppercase
}

.product-banner .text .desc {
    font-size: 12px;
    color: #707473;
    margin-bottom: 25px
}

.product-banner .show-container {
    height: 480px;
    position: relative;
    overflow: hidden
}

.product-banner .show-container .show-item {
    height: 100%;
    padding-top: 80px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    margin: 0;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out
}

.product-banner .show-container .show-item .img_logo {
    height: 100%
}

.product-banner .show-container .show-item.active {
    opacity: 1;
    z-index: 1
}

.product-banner .show-container .show-item .logo {
    margin-top: 123px
}

.product-banner .show-container.swiper-container .swiper-slide {
    background: #f7f8f9
}

.product-banner .show-container.swiper-container .show-item {
    opacity: 1;
    z-index: 1
}

.product-banner .attr-container {
    min-height: 200px
}

.product-banner .attr-container .attr-item {
    padding: 0 10px;
    vertical-align: top
}

.product-banner .attr-container .attr-item dt {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 18px
}

.product-banner .attr-container .attr-item dt a {
    padding: 10px 0;
    color: #707473;
    text-transform: uppercase
}

.product-banner .attr-container .attr-item dd a,
.productAttr-list a {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.product-banner .attr-container .attr-item dd a {
    color: #707473;
    margin-left: -4px;
    line-height: 22px;
    padding: 2px 4px
}

.product-banner .attr-container .attr-item dd a:hover {
    background: #707473;
    color: #fff
}

.product-banner .scroll-down {
    display: inline-block;
    border: 1px solid #979797;
    width: 18px;
    height: 18px;
    border-right: none;
    border-top: none;
    margin: 15px auto 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.product-banner-p3a .npe-link,
.product-banner-p3p .npe-link,
.product-banner-p3s .npe-link {
    font-size: 13px
}

.product-banner-p3p .show-container .show-item-camera .product {
    margin-top: -80px;
    width: 435px
}

.product-banner-p3p .show-container .show-item-controller .product {
    margin-top: -69px;
    width: 85%
}

.product-banner-p3a .show-container .show-item-camera .product {
    margin-top: -80px
}

.product-banner-p3a .show-container .show-item-controller .product {
    margin-top: -69px;
    width: 88%
}

.product-banner-p3s .show-container .show-item-camera .product {
    max-width: 70%
}

.product-banner-p3s .show-container .show-item-controller .product {
    margin-top: -30px
}

.product-banner-p3s .show-container .show-item-app .product {
    margin-top: 60px
}

.product-banner-inspire-1 .show-container .show-item-camera .product {
    margin-top: -90px
}

.product-banner-inspire-1 .show-container .show-item-controller .product {
    margin-top: -62px;
    width: 359px
}

.product-banner-inspire-1 .show-container .show-item-app .product {
    margin-top: 60px
}

.overview-new .overview-video {
    height: 545px;
    padding: 70px 0;
    background-color: #f7f8f9
}

.overview-new .overview-video h2 {
    padding-top: 130px;
    padding-bottom: 26px;
    font-weight: 500;
    font-size: 24px;
    color: #707473
}

.overview-new .overview-video p,
.sub-nav-wrap h1 {
    font-size: 13px;
    color: #707473;
    line-height: 22px
}

.overview-new .overview-video .video-box .fa-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -14px;
    color: rgba(255, 255, 255, .8);
    font-size: 28px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease
}

.overview-new .overview-video .video-box:hover .fa-play {
    color: rgba(255, 255, 255, .4)
}

.overview-new .overview-gallery .row {
    margin: 0
}

.overview-new .overview-gallery .row .col-sm-6 {
    padding: 0;
    line-height: 0;
    overflow: hidden
}

.overview-new .overview-gallery .row .col-sm-6 img {
    width: 100%;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.overview-new .overview-gallery .row .col-sm-6:hover img {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05)
}

.link-more {
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", "Microsoft YaHei", Arials, sans-serif;
    line-height: 1.5;
    padding-bottom: 6px;
    text-transform: uppercase
}

.link-more:before {
    left: 0;
    right: 0
}

.link-more-white1:after,
.link-more-white1:before,
.link-more:after,
.link-more:before {
    display: block;
    content: " ";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #44a8f2
}

.link-more:after {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    left: 50%;
    right: 50%
}

.link-more,
.link-more:hover,
.sub-nav-wrap .sub-nav-left .product-title a:hover {
    color: #707473
}

.link-more:hover:after {
    background: #707473;
    left: 0;
    right: 0
}

.link-action,
.link-more,
.link-more-white1 {
    display: inline-block;
    font-weight: 400;
    font-size: 12px
}

.link-more-white1 {
    position: relative;
    font-family: "Open Sans", "Helvetica Neue", "Microsoft YaHei", Arials, sans-serif;
    line-height: 1.5;
    padding-bottom: 6px;
    color: #fff!important;
    text-transform: uppercase
}

.link-more-white1:after,
.link-more-white1:before {
    left: 0;
    right: 0
}

.link-more-white1:after {
    left: 50%;
    right: 50%;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms
}

.link-more-white1:hover {
    color: #44a8f2
}

.link-more-white1:hover:after {
    background: #fff;
    left: 0;
    right: 0
}

.link-action {
    border: 2px solid #707473;
    background: 0 0;
    color: #707473;
    padding: 9px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.link-action:hover {
    background: #707473;
    color: #fff
}

.productAttr-show .link-more {
    top: 26px
}

.phantom-logo span {
    color: #d9b176;
    font-size: 25px
}

.description {
    font-size: 12px;
    line-height: 1.428571429
}

.productAttr-wrap {
    position: absolute;
    bottom: 30px;
    z-index: 3
}

.productAttr-list dl {
    padding: 2% 0 2% 5%;
    display: inline-block;
    cursor: pointer
}

.productAttr-list dt {
    font-size: 18px;
    margin-bottom: 15px
}

.productAttr-list dd {
    line-height: 1.6;
    font-weight: lighter
}

.productAttr-list a {
    display: inline-block;
    padding: 3px 5px
}

.productAttr-list a:hover {
    background-color: #707473;
    color: #fff
}

.sticky {
    top: 0!important
}

.sub-nav-wrap {
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    height: 60px;
    line-height: 58px;
    z-index: 1000;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    margin-bottom: 0;
    overflow: hidden
}

.sub-nav-wrap .container-sub-nav {
    max-width: 1200px;
    margin: auto
}

.sub-nav-wrap h1 {
    line-height: 60px
}

.sub-nav-wrap li {
    float: left;
    padding: 0 10px
}

.sub-nav-wrap .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px
}

.sub-nav-wrap .navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px
}

.sub-nav-wrap .navbar-toggle .icon-bar {
    display: block;
    width: 6px;
    height: 5px;
    border-left: 1px solid #b4b6b4;
    border-right: 1px solid #b4b6b4;
    background-color: #6a6d69;
    float: left;
    margin: 1px
}

.sub-nav-wrap .navbar-nav {
    text-transform: uppercase
}

.sub-nav-wrap .nav-toggle {
    float: right;
    display: none
}

.sub-nav-wrap .sub-nav-left ul {
    float: left
}

.sub-nav-wrap .sub-nav-left .product-title {
    float: left;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    text-transform: uppercase
}

.sub-nav-wrap .sub-nav-left .product-title a {
    font-size: 16px;
    text-transform: uppercase
}

.sub-nav-wrap .sub-nav-left a,
.sub-nav-wrap .sub-nav-right a {
    font-weight: 400;
    font-size: 12px;
    line-height: 30px
}

.sub-nav-wrap .sub-nav-left a.active,
.sub-nav-wrap .sub-nav-right a.active,
.sub-nav-wrap .sub-nav-right a:hover {
    color: #44a8f2
}

.sub-nav-wrap .sub-nav-right ul {
    float: right;
    margin-right: 20px
}

.sub-nav-wrap .sub-nav-right a {
    font-size: 11px;
    color: #a6acaa
}

.sub-nav-wrap .sub-nav-right .to-top {
    width: 129px;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.sub-nav-wrap .sub-nav-right .mobile-btn-primary {
    padding-right: 26px
}

.is-sticky .sub-nav-right .to-top {
    visibility: visible;
    opacity: 1
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%!important;
    height: 100%;
    background-color: rgba(112, 116, 115, .5)
}

.modal .modal-content {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.modal-discontinue {
    text-align: center
}

.modal-discontinue .modal-content {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    position: relative;
    z-index: 1
}

.modal-discontinue .modal-content button.close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s
}

.modal-discontinue .modal-content button.close:hover {
    opacity: .4
}

.modal-discontinue .modal-dialog {
    width: 550px;
    margin-top: 80px
}

.modal-discontinue .modal-body {
    padding: 10px 50px 30px
}

.modal-discontinue .logo {
    margin: 48px auto 44px;
    width: 50px
}

.modal-discontinue .desc {
    font-size: 13px;
    margin: 0 auto 50px
}

.modal-discontinue .operation {
    margin-bottom: 10px;
    margin-top: 10px
}

.modal-discontinue .operation a {
    margin: 0 15px
}

.modal-discontinue .product-name {
    position: relative;
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500
}

.modal-discontinue .product-name .p4 {
    display: inline-block;
    margin-right: 8px
}

.modal-discontinue .product-name .pro {
    display: inline-block;
    font-weight: 300
}

.modal-discontinue .btn-buy,
.sub-nav-wrap .buy-now a {
    background: #44a8f2;
    display: inline-block;
    font-size: 11px
}

.modal-discontinue .btn-buy {
    border: solid 1px #44a8f2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 8px 10px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease
}

.modal-discontinue .btn-buy:hover {
    color: #44a8f2;
    background: 0 0
}

.sub-nav-toggle-mobile,
.sub-nav-wrap-mobile {
    display: none
}

.series-list h3,
.sub-nav-wrap .buy-now a {
    text-transform: uppercase;
    text-align: center
}

.sub-nav-wrap .buy-now a {
    color: #fff!important;
    line-height: 60px;
    min-width: 162px;
    padding: 0 10px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-weight: 400
}

.sub-nav-wrap .buy-now a:hover {
    color: #44a8f2!important;
    background: #fff
}

@media (max-width:768px) {
    .sub-nav-wrap .buy-now a:hover {
        color: #fff!important;
        background: #44a8f2!important
    }
}

.sub-nav-wrap .buy-now.discontinue a {
    background: #a6acaa!important
}

.sub-nav-wrap .buy-now.discontinue a:hover {
    color: #fff!important;
    background: #a6acaa!important
}

.video-box {
    position: relative;
    display: inline-block;
    margin: auto
}

.video-box:hover .fa-play {
    color: rgba(255, 255, 255, .4)
}

.video-box img {
    max-width: 100%;
    cursor: pointer;
    display: block
}

.video-box .fa-play {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -11px;
    margin-top: -14px;
    color: rgba(255, 255, 255, .8);
    font-size: 28px;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease
}

.gallery figure,
.img-list li {
    overflow: hidden;
    position: relative
}

.gallery figure {
    z-index: 2;
    margin: 0;
    padding: 0
}

.gallery figcaption {
    position: absolute;
    z-index: 5;
    bottom: 0;
    height: 28px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 28px;
    text-align: center
}

.gallery img,
.img-list img.cover,
img.scale {
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.gallery img {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s
}

.gallery a:hover img,
.img-list img.cover:hover {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15)
}

.img-list li {
    margin: 0!important;
    padding: 0!important;
    min-height: 308px
}

.gallery img,
.img-list li .video-box {
    display: block
}

.img-list li a {
    color: rgba(0, 0, 0, .2);
    font-weight: 700;
    text-shadow: none
}

.img-list li img {
    display: block;
    width: 100%
}

.buy-link,
.buy-link .slogan {
    display: block;
    font-weight: 300
}

.buy-link {
    clear: both;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #44a8f2;
    color: #fff;
    text-align: center;
    line-height: 1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    font-size: 35px;
    text-transform: uppercase
}

.buy-link:hover {
    color: #44a8f2;
    background: #fff
}

.buy-link .slogan {
    font-size: 18px;
    margin-top: 10px;
    padding: 0;
    text-transform: none
}

.bg-white {
    background-color: #fff;
    width: 100%
}

.bg-gray {
    background-color: #f7f8f9
}

.block,
.img-auto {
    display: block
}

.img-list img.cover,
img.scale {
    height: 100%;
    -webkit-transition: all 1000ms;
    -moz-transition: all 1000ms;
    -ms-transition: all 1000ms;
    -o-transition: all 1000ms;
    transition: all 1000ms
}

img.scale:hover {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9)
}

.img-auto {
    width: 100%;
    height: auto
}

.series-list {
    padding: 90px 0
}

.series-list h3 {
    font-size: 20px;
    margin: 0;
    font-weight: 500;
    color: #707473;
    padding-bottom: 25px
}

.series-list ul li {
    margin-bottom: 70px;
    min-height: 505px
}

.series-list ul a.product-img {
    display: block;
    height: 320px;
    text-align: center
}

.series-list ul a.product-img img {
    max-height: 320px
}

.series-list ul h4 {
    color: #44a8f2;
    font-size: 15px;
    font-weight: 400;
    display: block;
    padding: 0 0 20px
}

.series-list ul p {
    height: 80px;
    color: #707473;
    font-size: 12px;
    line-height: 19px;
    overflow: hidden
}

.series-list ul .product-links {
    height: 50px
}

.series-list ul .tips {
    color: #b13527;
    display: none;
    float: left
}

.series-list ul .btn-primary {
    padding: 4px 18px;
    font-size: 12px;
    height: 36px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase
}

.series-list .series-list-more {
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px
}

.series-list .oem-link {
    display: block;
    color: #44a8f2;
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer
}

.series-list .compare-btn {
    margin-left: 20px
}

.series-list .compare-btn i {
    position: relative;
    top: 3px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(images/collections/option-box-a1a4ee8231e44aaf9d0cf8171b135aa6.png);
    background-size: cover
}

.series-list .compare-btn.active i {
    background-image: url(images/collections/option-right-56ea0b3ebefda95682912a29a3c036dd.png)
}

.compare-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #eaeaea;
    padding-top: 4px;
    z-index: 100;
    -webkit-box-shadow: 0 -1px 3px #b4b4b4;
    -moz-box-shadow: 0 -1px 3px #b4b4b4;
    -ms-box-shadow: 0 -1px 3px #b4b4b4;
    -o-box-shadow: 0 -1px 3px #b4b4b4;
    box-shadow: 0 -1px 3px #b4b4b4
}

.compare-bar .shopping-cart {
    float: right;
    margin-right: 220px;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 20px
}

.compare-bar .shopping-cart .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #44a8f2;
    color: #fff;
    text-align: center;
    margin-left: 6px
}

.btn-primary {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #44a8f2;
    background-color: #44a8f2;
    color: #fff;
    font-weight: 400;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms
}

.btn-primary.focus,
.btn-primary:focus {
    color: #44a8f2;
    background-color: transparent;
    border: 2px solid #44a8f2
}

.btn-primary:hover {
    color: #44a8f2;
    background-color: transparent;
    border: 2px solid #44a8f2
}

@-webkit-keyframes animateUpDown20 {
    0% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        transform: translate(0, -5px)
    }
    to {
        -webkit-transform: translate(0, 5px);
        -moz-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
}

.animate-up-down-20 {
    -webkit-animation: animateUpDown20 .5s infinite;
    -moz-animation: animateUpDown20 .5s infinite;
    -ms-animation: animateUpDown20 .5s infinite;
    -o-animation: animateUpDown20 .5s infinite;
    animation: animateUpDown20 .5s infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear
}

@media (max-width:767px) {
    .img-list li {
        min-height: initial
    }
    .sub-nav-sticky-wrapper {
        height: 0!important
    }
    .site-header .navbar-header .sub-nav-toggle-mobile {
        float: right;
        margin-right: 10px;
        margin-top: 9px;
        margin-bottom: 9px;
        width: auto;
        border: 0
    }
    .site-header .navbar-header .sub-nav-toggle-mobile .icon-bar,
    .site-header .navbar-header .sub-nav-toggle-mobile .icon-bar+.icon-bar {
        display: block;
        width: 6px;
        height: 6px;
        background-color: #707473;
        float: left;
        margin: 1px
    }
    .sub-nav-wrap {
        position: static;
        min-height: 0;
        height: auto;
        line-height: 0;
        display: none
    }
    .sub-nav-wrap.sub-nav-wrap-mobile {
        display: block;
        width: auto!important;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        -ms-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
    }
    .sub-nav-wrap .navbar-nav {
        margin: 7px -15px 0
    }
    .sub-nav-wrap .navbar-header {
        height: 0
    }
    .sub-nav-wrap .navbar-collapse {
        background-color: #fff;
        width: 100%
    }
    .sub-nav-wrap .navbar-toggle {
        margin-top: 8px;
        margin-bottom: 8px;
        position: absolute;
        top: -50px;
        right: 0
    }
    .sub-nav-wrap .sub-nav-left .product-title {
        float: none
    }
    .sub-nav-wrap li {
        margin: auto;
        padding: 0
    }
    .sub-nav-wrap .sub-nav-left>li>a,
    .sub-nav-wrap .sub-nav-right>li>a {
        font-weight: 300;
        font-size: 13px
    }
    .sub-nav-wrap .sub-nav-left>li>.product-title,
    .sub-nav-wrap .sub-nav-left>li>a,
    .sub-nav-wrap .sub-nav-left>li>a:hover,
    .sub-nav-wrap .sub-nav-right>li>.product-title,
    .sub-nav-wrap .sub-nav-right>li>a,
    .sub-nav-wrap .sub-nav-right>li>a:hover {
        font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
        line-height: 30px;
        color: #707473;
        padding: 3px 20px;
        width: auto;
        display: block;
        background: #f7f8f9
    }
    .sub-nav-wrap .sub-nav-left>li>.product-title,
    .sub-nav-wrap .sub-nav-right>li>.product-title {
        background: #fff;
        padding-bottom: 10px;
        padding-top: 10px;
        float: none;
        font-size: 14px;
        font-weight: 500
    }
    .sub-nav-wrap .sub-nav-left>li>a:hover,
    .sub-nav-wrap .sub-nav-right>li>a:hover {
        font-weight: 300;
        font-size: 13px
    }
    .sub-nav-wrap .sub-nav-left>li.mobile-sub-nav-first>a,
    .sub-nav-wrap .sub-nav-right>li.mobile-sub-nav-first>a {
        padding-top: 13px
    }
    .sub-nav-wrap .sub-nav-left>li.mobile-sub-nav-last>a,
    .sub-nav-wrap .sub-nav-right>li.mobile-sub-nav-last>a {
        padding-bottom: 13px
    }
    .sub-nav-wrap .sub-nav-left,
    .sub-nav-wrap .sub-nav-right {
        margin-top: 0;
        margin-bottom: 0
    }
    .sub-nav-wrap .navbar-nav .mobile-btn-primary {
        text-align: center;
        padding-right: 0
    }
    .sub-nav-wrap .navbar-nav .mobile-btn-primary a,
    .sub-nav-wrap .navbar-nav .mobile-btn-primary a:hover {
        padding-top: 0;
        padding-bottom: 0;
        height: 48px;
        line-height: 48px;
        font-family: "Gotham", "Helvetica Neue", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
        font-weight: 300;
        font-size: 15px;
        color: #fff;
        background-color: #44a8f2
    }
    .sub-nav-wrap .to-top {
        display: none
    }
    .product-banner {
        height: auto;
        height: calc(100vh - 50px);
        min-height: 470px;
        max-height: 630px;
        overflow: hidden
    }
    .product-banner .npe-link {
        text-align: center
    }
    .product-banner .show-container {
        height: auto
    }
    .product-banner .show-container .show-item {
        position: static;
        padding-top: 0;
        display: block;
        opacity: 1;
        z-index: 1;
        background-color: #f7f7f8
    }
    .product-banner .show-container .show-item .logo {
        margin: 40px auto 0;
        text-align: center
    }
    .product-banner .show-container .show-item .logo img {
        width: 287px;
        margin-left: auto;
        margin-right: auto
    }
    .product-banner .show-container .show-item .product-wrap {
        width: 100%;
        position: relative;
        margin-top: 10px;
        max-height: 282px;
        overflow: hidden
    }
    .product-banner .show-container .show-item .product-wrap:after {
        content: "";
        display: block;
        padding-top: 80%
    }
    .product-banner .show-container .show-item .product {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        top: 50%;
        left: 50%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin: 0
    }
    .product-banner .show-container .show-item.active {
        display: block;
        opacity: 1
    }
    .product-banner .show-container .show-item-aircraft .product {
        top: 57%
    }
    .product-banner .show-container .show-item-camera .product {
        max-width: 70%
    }
    .product-banner .show-container .show-item-controller .product {
        top: 54%;
        max-width: 70%
    }
    .product-banner .show-container .show-item-app .product {
        top: 55%
    }
    .product-banner .attr-container {
        text-align: center;
        min-height: initial;
        background: 0 0;
        padding: 0 0 60px;
        width: 100%
    }
    .product-banner .attr-container .row {
        margin: 0
    }
    .product-banner .attr-container .attr-item {
        text-align: center;
        padding: 0;
        display: block;
        width: auto
    }
    .product-banner .attr-container .attr-item.active dt a {
        color: #44a8f2
    }
    .modal-discontinue .operation .link-more,
    .product-banner .attr-container .attr-item dd {
        display: none
    }
    .product-banner .scroll-down-wrap {
        position: absolute;
        bottom: 20px;
        left: 50%;
        margin: auto auto auto -10px
    }
    .product-banner-inspire-1 .show-container .show-item-camera .product {
        width: 60%
    }
    .product-banner-inspire-1 .show-container .show-item-controller .product {
        width: 50%
    }
    .buy-link-product {
        text-align: center;
        padding: 30px 20px;
        font-size: 18px
    }
    .buy-link-product .slogan {
        font-size: 12px
    }
    .modal-discontinue .modal-dialog {
        width: 90%;
        margin: 0;
        top: 60px;
        left: 5%
    }
    .modal-discontinue .modal-body {
        padding: 30px 40px
    }
    .modal-discontinue .logo {
        margin: 0 auto 20px
    }
    .modal-discontinue .desc {
        margin: 0 auto 30px
    }
    .modal-discontinue .product-name {
        margin-top: 0;
        margin-bottom: 10px
    }
    .modal-discontinue .product-logo {
        width: auto;
        height: 40px;
        margin-bottom: 20px
    }
    .modal-discontinue .operation a {
        margin-left: 0;
        margin-right: 0
    }
}

@media all and (orientation:landscape) and (max-width:767px) {
    .product-banner {
        min-height: 240px
    }
    .product-banner .show-container .show-item .img_logo {
        width: 45%
    }
    .product-banner .show-container .show-item .img_logo .logo {
        margin-top: 40px
    }
    .product-banner .show-container .show-item .product-wrap {
        width: 45%;
        padding-top: 31%
    }
    .product-banner .attr-container .col-xs-6 {
        width: 25%
    }
    .modal-discontinue .modal-body {
        padding: 10px 40px 20px
    }
    .modal-discontinue .product-logo {
        display: none
    }
    .modal-discontinue .product {
        width: 40%
    }
}

@-moz-keyframes animateUpDown20 {
    0% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        transform: translate(0, -5px)
    }
    to {
        -webkit-transform: translate(0, 5px);
        -moz-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
}

@-webkit-keyframes animateUpDown20 {
    0% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        transform: translate(0, -5px)
    }
    to {
        -webkit-transform: translate(0, 5px);
        -moz-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
}

@-o-keyframes animateUpDown20 {
    0% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        transform: translate(0, -5px)
    }
    to {
        -webkit-transform: translate(0, 5px);
        -moz-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
}

@keyframes animateUpDown20 {
    0% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        transform: translate(0, -5px)
    }
    to {
        -webkit-transform: translate(0, 5px);
        -moz-transform: translate(0, 5px);
        -ms-transform: translate(0, 5px);
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
}

.products-list .series-list .thumb-model .btn-primary:focus {
    color: #44a8f2;
    background-color: transparent;
    border: 2px solid #44a8f2
}

.compare-btn-list ul .compare-bar a:hover,
.products-list .series-list .thumb-model .btn-primary:hover {
    color: #44a8f2;
    background-color: transparent;
    border: 2px solid #44a8f2
}

.products-list .series-list .thumb-model .tips {
    color: #b13527;
    display: none;
    position: absolute;
    width: 100%;
    bottom: -5px
}

.products-list .series-list .thumb-model .compare-btn {
    margin-left: 15px
}

.products-list .series-list .thumb-model .compare-btn i {
    position: relative;
    top: 3px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(//www-optimized.djicdn.com/assets/images/collections/option-box-a1a4ee8231e44aaf9d0cf8171b135aa6.png);
    background-size: cover
}

.products-list .series-list .thumb-model .compare-btn.active i {
    background-image: url(//www-optimized.djicdn.com/assets/images/collections/option-right-56ea0b3ebefda95682912a29a3c036dd.png)
}

body {
    overflow-x: hidden
}

.compare-btn-list {
    width: 150px
}

.compare-btn-list ul {
    padding-top: 20px
}

.compare-btn-list ul .compare-bar .shopping-cart {
    opacity: 0
}

.compare-btn-list ul .compare-bar a,
.shopping-cart a {
    display: inline-block;
    margin-left: 20px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 300ms
}

.compare-btn-list ul .compare-bar a {
    box-shadow: 0 0 3px #eee;
    border: 2px solid #44a8f2;
    background-color: #44a8f2;
    color: #fff
}

.compare-btn-list ul .compare-bar a:hover .num {
    background-color: #44a8f2;
    color: #fff
}

.compare-btn-list ul .compare-bar .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #44a8f2;
    text-align: center;
    margin-left: 6px
}

.compare-bara {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #eaeaea;
    padding-top: 4px;
    z-index: 100;
    box-shadow: 0 -1px 3px #b4b4b4
}

.compare-bara .shopping-cart {
    float: right;
    margin-right: 220px;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 20px
}

.compare-bara .shopping-cart .num,
.shopping-cart .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #44a8f2;
    color: #fff;
    text-align: center;
    margin-left: 6px
}

.shopping-cart {
    opacity: 0;
    padding-left: 10px;
    height: 0
}

.shopping-cart a {
    color: #999;
    font-size: 12px;
    line-height: 20px
}

.shopping-cart a:hover {
    color: #44a8f2
}

.bs-docs-sidebar .fixed {
    position: fixed
}

.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px
}

.bs-docs-sidebar .nav ul.nav {
    display: none
}

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block
}

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
    color: #44a8f2;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #44a8f2
}

.bs-docs-sidebar .nav>.active:focus>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active>a {
    font-weight: 700
}

.bs-docs-sidebar .nav .nav>.active:focus>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active>a {
    font-weight: 500
}

@media all and (orientation:landscape) {
    #back-to-top {
        display: none !important;
    }
}

@media all and (orientation:landscape) {
    .menumobile {
        display: none !important;
    }
}