.products-list {
    margin-top: 40px
}

.products-list .nav-stacked {
    margin-top: 20px
}

.products-list #scroll-content {
    padding-bottom: 60px
}

.products-list .series-list h3 {
    color: #44a8f2;
    font-size: 32px;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-bottom: 1px solid #eee
}

.products-list .series-list .thumb-model {
    min-height: 505px;
    margin-bottom: 55px;
    text-align: center
}

.products-list .series-list .thumb-model .product-img {
    position: relative;
    display: block;
    min-height: 320px
}

.products-list .series-list .thumb-model .product-img img {
    width: 320px
}

.products-list .series-list .thumb-model h4 {
    color: #44a8f2;
    font-size: 16px;
    font-weight: 400;
    display: block;
    padding: 0 0 20px
}

.products-list .series-list .thumb-model p {
    height: 60px;
    margin-bottom: 20px;
    color: #707473;
    font-size: 12px;
    line-height: 19px;
    overflow: hidden
}

.products-list .series-list .thumb-model .link-more {
    position: relative;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 10px;
    cursor: pointer
}

.products-list .series-list .thumb-model .link-more:after,
.products-list .series-list .thumb-model .link-more:before {
    content: " ";
    position: absolute;
    bottom: 0;
    height: 2px;
    background: #44a8f2
}

.products-list .series-list .thumb-model .link-more:before {
    left: 0;
    right: 0
}

.products-list .series-list .thumb-model .link-more:after {
    left: 51%;
    right: 51%;
    background: #fff;
    transition: all 300ms
}

.products-list .series-list .thumb-model .link-more:hover:after {
    left: 0;
    right: 0
}

.products-list .series-list .thumb-model .link-more.link-more-grey {
    color: #707473
}

.products-list .series-list .thumb-model .link-more.link-more-grey:before {
    background: #44a8f2
}

.products-list .series-list .thumb-model .link-more.link-more-grey:after {
    background: #707473
}

.products-list .series-list .thumb-model .btn-primary {
    margin-left: 15px;
    border-radius: 2px;
    border: 2px solid #44a8f2;
    background-color: #44a8f2;
    color: #fff;
    font-weight: 400;
    transition: all 300ms
}

.products-list .series-list .thumb-model .btn-primary:focus {
    color: #44a8f2;
    background-color: transparent;
    border: 2px solid #44a8f2
}

.compare-btn-list ul .compare-bar a:hover,
.products-list .series-list .thumb-model .btn-primary:hover {
    color: #44a8f2;
    background-color: transparent;
    border: 2px solid #44a8f2
}

.products-list .series-list .thumb-model .tips {
    color: #b13527;
    display: none;
    position: absolute;
    width: 100%;
    bottom: -5px
}

.products-list .series-list .thumb-model .compare-btn {
    margin-left: 15px
}

.products-list .series-list .thumb-model .compare-btn i {
    position: relative;
    top: 3px;
    margin-left: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
    background-image: url(//www-optimized.djicdn.com/assets/images/collections/option-box-a1a4ee8231e44aaf9d0cf8171b135aa6.png);
    background-size: cover
}

.products-list .series-list .thumb-model .compare-btn.active i {
    background-image: url(//www-optimized.djicdn.com/assets/images/collections/option-right-56ea0b3ebefda95682912a29a3c036dd.png)
}

body {
    overflow-x: hidden
}

.compare-btn-list {
    width: 150px
}

.compare-btn-list ul {
    padding-top: 20px
}

.compare-btn-list ul .compare-bar .shopping-cart {
    opacity: 0
}

.compare-btn-list ul .compare-bar a,
.shopping-cart a {
    display: inline-block;
    margin-left: 20px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 300ms
}

.compare-btn-list ul .compare-bar a {
    box-shadow: 0 0 3px #eee;
    border: 2px solid #44a8f2;
    background-color: #44a8f2;
    color: #fff
}

.compare-btn-list ul .compare-bar a:hover .num {
    background-color: #44a8f2;
    color: #fff
}

.compare-btn-list ul .compare-bar .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    color: #44a8f2;
    text-align: center;
    margin-left: 6px
}

.compare-bara {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28px;
    background-color: #eaeaea;
    padding-top: 4px;
    z-index: 100;
    box-shadow: 0 -1px 3px #b4b4b4
}

.compare-bara .shopping-cart {
    float: right;
    margin-right: 220px;
    color: #9b9b9b;
    font-size: 12px;
    line-height: 20px
}

.compare-bara .shopping-cart .num,
.shopping-cart .num {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #44a8f2;
    color: #fff;
    text-align: center;
    margin-left: 6px
}

.shopping-cart {
    opacity: 0;
    padding-left: 10px;
    height: 0
}

.shopping-cart a {
    color: #999;
    font-size: 12px;
    line-height: 20px
}

.shopping-cart a:hover {
    color: #44a8f2
}

.bs-docs-sidebar {
    margin-bottom: 20px
}

.bs-docs-sidebar .fixed {
    position: fixed
}

.bs-docs-sidebar .nav>li>a {
    color: #999;
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 14px;
    font-weight: 400
}

.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 12px
}

.bs-docs-sidebar .nav ul.nav {
    display: none
}

.bs-docs-sidebar .nav>.active>ul.nav {
    display: block
}

.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>li>a:focus,
.bs-docs-sidebar .nav>li>a:hover {
    color: #44a8f2;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #44a8f2
}

.bs-docs-sidebar .nav>.active:focus>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active>a {
    font-weight: 700
}

.bs-docs-sidebar .nav .nav>.active:focus>a,
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active>a {
    font-weight: 500
}