/*
*  产品页面公用样式之
*  分语言设置常用标题和段落样式
*/
#dji-product-common .dji-common.video-cover {
  width: 320px;
  height: 190px;
}
#dji-product-common section h2.common-title {
  font-size: 28px;
  margin-bottom: 38px;
  text-transform: uppercase;
}
#dji-product-common section p.common-content {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px;
}
#dji-product-common section p.common-tips {
  padding-top: 15px;
  font-size: 12px;
}
/*
*  具体分为：
*   1、英文en 西语es 法语fr 德语de
*      － 标题为：28px
*   2、简体中文cn 繁体中文 日语ja 韩语ko
*      － 标题为：24px
*/
.dji-en #dji-product-common section h2.common-title,
.dji-de #dji-product-common section h2.common-title,
.dji-fr #dji-product-common section h2.common-title,
.dji-es #dji-product-common section h2.common-title {
  font-size: 28px;
}
.dji-zh-CN #dji-product-common section h2.common-title,
.dji-zh-TW #dji-product-common section h2.common-title,
.dji-ja #dji-product-common section h2.common-title,
.dji-ko #dji-product-common section h2.common-title {
  font-size: 24px;
}
/*
*  mobile样式
*/
@media (max-width: 767px) {
  #dji-product-common section h2.common-title {
    margin-bottom: 35px;
  }
  .dji-en #dji-product-common section h2.common-title,
  .dji-de #dji-product-common section h2.common-title,
  .dji-fr #dji-product-common section h2.common-title,
  .dji-es #dji-product-common section h2.common-title {
    font-size: 24px;
  }
  .dji-zh-CN #dji-product-common section h2.common-title,
  .dji-zh-TW #dji-product-common section h2.common-title,
  .dji-ja #dji-product-common section h2.common-title,
  .dji-ko #dji-product-common section h2.common-title {
    font-size: 22px;
  }
}
